<div
  class="min-h-screen flex justify-center bg-gray-50 py-12 px-4 sm:px-6 lg:px-8"
>
  <!-- Guidelines -->
  <div *ngIf="userAgreement"
    class="fixed z-20 inset-0 mx-auto p-8 border mt-12 w-4/5 lg:w-3/5 h-4/5 overflow-y-auto shadow-lg rounded-md bg-white">
    <h1 class="text-3xl font-semibold sm:text-left">Implementing Guidelines for Practicum in the College of Information and Computing
      Sciences (CICS)</h1>
    <!-- Cards -->
    <div class="py-8 rounded-t">
      <h2 class="py-2 text-xl font-bold">Introduction</h2>
      <p>InternConnect is a dedicated platform for requesting endorsement letters and viewing accredited companies in UST-CICS.
        It is part of the major requirements in the Practicum course for CICS prior to starting one's internship.
      </p>
      <p class="pt-2">The curriculum of the College of Information and Computing Sciences includes practicum in all its three programs, namely:</p>
      <ul class="list-disc md:list-disc ml-8 text-base py-2">
        <li>CS 26116 - Computer Science</li>
        <li>IS 26319 - Information Systems</li>
        <li>IT 26212 - Information Technology</li>
      </ul>

      <h2 class="py-2 text-xl font-bold">List of Practicum Units and Eligibility</h2>
      <p>Students are expected to pass the pre-requisite subjects for Practicum. Following that, CICS interns must complete the following required internship hours depending on their program and specialization track.</p>
      <p class="pt-2 font-semibold">Computer Science - <span class="bg-red-100 rounded p-1">250 hours</span></p>
      <ul class="list-disc md:list-disc ml-8 text-base py-2">
        <li>Specialization tracks: Core Computer Science, Game Development, Data Science</li>
        <li>Units: 4</li>
        <li>Pre-requisites: CS 26112, ICS 26013</li>
      </ul>
      <p class="pt-2 font-semibold">Information Systems - <span class="bg-red-100 rounded p-1">600 hours</span></p>
      <ul class="list-disc md:list-disc ml-8 text-base py-2">
        <li>Specialization tracks: Business Analytics, Service Management</li>
        <li>Units: 6</li>
        <li>Pre-requisites: IS 26316</li>
      </ul>
      <p class="pt-2 font-semibold">Information Technology - <span class="bg-red-100 rounded p-1">500 hours</span></p>
      <ul class="list-disc md:list-disc ml-8 text-base py-2">
        <li>Specialization tracks: Network and Security, Web and Mobile App Development, IT Automation</li>
        <li>Units: 6</li>
        <li>Pre-requisites: IT 26211</li>
      </ul>
      <p class="pt-2">Only students who are officially enrolled for Practicum may undergo the internship program.</p>

      <h2 class="py-2 text-xl font-bold">Issuance of Endorsement Letter</h2>

      <p class="text-justify">For the students to proceed with their requirements, it is necessary to fill out an endorsement form that
        can be accomplished through InternConnect. The endorsement form indicates the pertinent details
        about the company where a student intends to have the internship during the term. An endorsement
        letter will be generated based on the entries approved by the administrators
        on the form. it will explicitly state the lines of work that an intern must work on during the internship.</p>

      <p class="pt-2 text-justify">In accordance with the Data Privacy Act of 2012, the personal data of the users will be
        collected, recorded,
        and used only for academic purposes. To be specific, the personal data will be used to process the endorsement
        requests of the students currently enrolled in their practicum course in the College of Information and
        Computing Sciences (CICS).
      </p>

      <p class="pt-2">The following information is gathered from students for the endorsement request in CICS:</p>
      <ul class="list-disc md:list-disc ml-8 text-base py-2">
        <li>Name</li>
        <li>Student Email address</li>
        <li>UST ID number</li>
        <li>Department</li>
        <li>Specialization track</li>
        <li>Section</li>
        <li>Contact information about the contact person from the Company</li>
        <li>Acceptance letter from company</li>
      </ul>

      <p class="pt-2">For selected administrators, the following information is collected to access the requests:</p>
      <ul class="list-disc md:list-disc ml-8 text-base py-2">
        <li>Admin Email address</li>
        <li>E-signature</li>
      </ul>
    </div>
    <label class="block items-center mt-3">
      <button (click)="closeAgreement()" class="bg-green-600 hover:bg-green-700 w-full md:w-1/4 rounded-md text-white py-2 px-4 focus:ring-green-500">I accept the guidelines</button>
    </label>
  </div>
  <!-- Dim bg -->
  <div *ngIf="userAgreement" class="fixed z-10 inset-0 overflow-hidden bg-gray-600 bg-opacity-50 overflow-y-auto h-full w-full"></div>



  <div class="max-w-md w-full space-y-8">
    <div>
      <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900">
        Onboarding
      </h2>
    </div>
    <div
      #errContainer
      class="
        bg-red-100
        border border-red-400
        text-red-700
        px-4
        py-3
        rounded
        relative
        animate-bounce
      "
      role="alert"
      style="text-align: center"
      *ngIf="!isLoggedIn"
    >
      <strong class="font-bold">Invalid Login! </strong>
      <br />
      <span class="block sm:inline">Password mismatch</span>
      <span
        class="absolute top-0 bottom-0 right-0 px-4 py-3"
        (click)="onClick()"
      >
        <svg
          class="fill-current h-6 w-6 text-red-500"
          role="button"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 20 20"
        >
          <title>Close</title>
          <path
            d="M14.348 14.849a1.2 1.2 0 0 1-1.697 0L10 11.819l-2.651 3.029a1.2 1.2 0 1 1-1.697-1.697l2.758-3.15-2.759-3.152a1.2 1.2 0 1 1 1.697-1.697L10 8.183l2.651-3.031a1.2 1.2 0 1 1 1.697 1.697l-2.758 3.152 2.758 3.15a1.2 1.2 0 0 1 0 1.698z"
          />
        </svg>
      </span>
    </div>
    <form
      class="mt-8 space-y-6"
      action="#"
      [formGroup]="onboardForm"
      (ngSubmit)="onSubmit()"
    >
      <div class="-space-y-px">
        <div style="display: none">
          <label for="email-address" class="text-sm">Your email address</label>
          <input
            formControlName="email"
            id="email-address"
            name="email"
            type="email"
            autocomplete="email"
            #emailaddress
            class="
              appearance-none
              rounded-md
              relative
              block
              w-full
              px-3
              py-2
              border border-gray-300
              placeholder-gray-500
              text-gray-900
              focus:outline-none
              focus:ring-blue-500
              focus:border-blue-500
              sm:text-base
              disabled:opacity-100
            "
            placeholder="student.iics@gmail.com"
          />
        </div>
        <div>
          <label for="email-address" class="text-sm">Your email address</label> <!--Working-->
          <input
            class="
              appearance-none
              relative
              block
              w-full
              px-3
              py-2
              border border-gray-300
              placeholder-gray-500
              text-gray-900
              rounded-md
              focus:outline-none
              focus:ring-blue-500
              focus:border-blue-500
              sm:text-base
              disabled:opacity-100
            "
            [value]="emailaddress.value"
            disabled
          />
        </div>
        <br />

        <div>
          <label for="password" class="text-sm">Password</label> <!--Working-->
          <input id="password" name="password" formControlName="password" type="password" autocomplete="current-password"
          pattern="/^(?=[^A-Z]*[A-Z])(?=[^a-z]*[a-z])(?=\D*\d).{8,}$/" required class="appearance-none relative block w-full
          px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-md focus:outline-none
          focus:ring-blue-500 focus:border-blue-500 sm:text-sm" placeholder="*******">
          <span class="text-red-500 text-base" *ngIf="passwordInvalid">Password must contain at least eight (8) characters, one (1) uppercase letter, one (1) lowercase letter, and a special character.</span>
        </div>
        <br />
        <div>
          <label for="password" class="text-sm">Confirm Password</label>
          <input
            id="confirmpassword"
            [(ngModel)]="confirmpassword"
            type="password"
            [ngModelOptions]="{ standalone: true }"
            autocomplete="current-password"
            required
            class="
            appearance-none relative block w-full
            px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-md focus:outline-none
            focus:ring-blue-500 focus:border-blue-500 sm:text-sm
            "
            placeholder="*******"
          />
        </div>
        <br />
        <div style="display: none">
          <input
            name="resetkey"
            formControlName="resetkey"
            type="password"
            autocomplete="current-password"
            required
            class="
            appearance-none
            relative
            block
            w-full
            px-3
            py-2
            border border-gray-300
            placeholder-gray-500
            text-gray-900
            rounded-md
            focus:outline-none
            focus:ring-blue-500
            focus:border-blue-500
            sm:text-base
            disabled:opacity-100
            "
            placeholder="*******"
          />
        </div>
      </div>

      <div>
        <button

          type="submit"
          class="
            group
            relative
            w-full
            flex
            justify-center
            py-2
            px-4
            border border-transparent
            text-base
            font-medium
            rounded-md
            text-white
            bg-red-600 hover:bg-red-700
            hover:bg-opacity-90
            focus:outline-none
            focus:ring-2
            focus:ring-offset-2
            focus:ring-red-500
          "

        >
          <span class="absolute left-0 inset-y-0 flex items-center pl-3">
            <!-- Heroicon name: solid/lock-closed -->
            <svg
              class="h-5 w-5 text-red-300 group-hover:text-red-400"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true"
            >
              <path
                fill-rule="evenodd"
                d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z"
                clip-rule="evenodd"
              />
            </svg>
          </span>
          Reset Password
        </button>
      </div>
    </form>
  </div>
</div>


