
<section class="px-2 py-32 md:px-0">
  <div class="container items-center max-w-6xl px-8 mx-auto xl:px-5">
    <div class="PrivacyPolicy">
      <h1 class="text-5xl font-extrabold py-4">Privacy Policy</h1>
    </div>
    <div class="py-4">
      <p class="pb-8 text-base">Last updated: October 18, 2021</p>
      <h2 class="py-8 text-3xl font-bold">Introduction</h2>
      <p class="text-lg">In accordance with the Data Privacy Act of 2012, the personal data of the users will be
        collected, recorded,
        and used only for academic purposes. To be specific, the personal data will be used to process the endorsement
        requests of the students currently enrolled in their practicum course in the College of Information and
        Computing Sciences (CICS).
      </p>
      <h2 class="py-8 text-3xl font-bold">Information We Collect</h2>
      <p class="text-lg">The following information is gathered from students for the endorsement request in CICS:</p>
      <ul class="list-disc md:list-disc ml-8 text-lg py-2">
        <li>Name</li>
        <li>Student Email address</li>
        <li>UST ID number</li>
        <li>Department</li>
        <li>Specialization track</li>
        <li>Section</li>
        <li>Contact information about the contact person from the Company</li>
        <li>Acceptance letter from company</li>
      </ul>
      <p class="text-lg pt-8">For selected administrators, the following information is collected to access the requests:</p>
      <ul class="list-disc md:list-disc ml-8 text-lg py-2">
        <li>Admin Email address</li>
        <li>E-signature</li>
      </ul>
      <h2 class="py-8 text-3xl font-bold">Why We Use Your Data</h2>
      <p class="text-lg">In order to process the endorsement request, it is necessary for the administrators to have
        access to the information required during the practicum course.
      </p>
      <h2 class="py-8 text-3xl font-bold">How We Use Your Data</h2>
      <p class="text-lg">
        The personal information is primarily used to generate an endorsement letter with the signatories of involved
        administrators after approval. It is also used to aggregate data, generate reports, maintain submission logs,
        and send email notifications to users.
      </p>
    </div>
  </div>
</section>
<app-footer></app-footer>
