<div class="pt-6 sm:px-6 lg:px-8 pb-10">
  <div>
    <h1
      class="inline-block text-3xl font-extrabold text-gray-900 tracking-tight"
    >
      View logs
    </h1>
  </div>
  <p class="mt-1 text-lg text-gray-500">
    This contains a list of subsmissions that were approved or disapproved by
    the practicum coordinator.
  </p>
</div>

<!-- This example requires Tailwind CSS v2.0+
     Table -->
<div class="flex flex-col">
  <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8 sm:px-6 lg:px-8">
    <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
      <div
        class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg"
      >
        <table class="min-w-full divide-y divide-gray-200">
          <thead class="bg-gray-50">
            <tr>
              <th
                scope="col"
                class="
                  px-6
                  py-3
                  text-left text-xs
                  font-medium
                  text-gray-500
                  uppercase
                  tracking-wider
                "
              >
                Student Name
              </th>
              <th
                scope="col"
                class="
                  px-6
                  py-3
                  text-left text-xs
                  font-medium
                  text-gray-500
                  uppercase
                  tracking-wider
                "
              >
                Email Address
              </th>
              <th
                scope="col"
                class="
                  px-6
                  py-3
                  text-left text-xs
                  font-medium
                  text-gray-500
                  uppercase
                  tracking-wider
                "
              >
                Action
              </th>
              <th
                scope="col"
                class="
                  px-6
                  py-3
                  text-left text-xs
                  font-medium
                  text-gray-500
                  uppercase
                  tracking-wider
                "
              >
                Date
              </th>
              <th
                scope="col"
                class="
                  px-6
                  py-3
                  text-left text-xs
                  font-medium
                  text-gray-500
                  uppercase
                  tracking-wider
                "
              >
                Reference No.
              </th>
            </tr>
          </thead>
          <!-- Person 1 -->
          <tbody
            class="bg-white divide-y divide-gray-200"
            *ngIf="user.admin.authId == 3"
          >
            <tr
              *ngFor="
                let log of logs.reverse()
                  | paginate: { itemsPerPage: 10, currentPage: p }
              "
            >
              <td
                class="px-6 py-4 whitespace-nowrap"
                *ngIf="
                  log.submission.adminResponse.acceptedByCoordinator ||
                  !log.submission.adminResponse.acceptedByCoordinator ||
                  log.submission.adminResponse.companyAgrees ||
                  !log.submission.adminResponse.companyAgrees ||
                  log.submission.adminResponse.emailSentByCoordinator ||
                  !log.submission.adminResponse.emailSentByCoordinator
                "
              >
                <div class="text-sm text-gray-900">
                  {{
                    log.submission.lastName +
                      " " +
                      log.submission.middleInitial +
                      " " +
                      log.submission.firstName
                  }}
                </div>
              </td>
              <td
                class="px-6 py-4 whitespace-nowrap"
                *ngIf="
                  log.submission.adminResponse.acceptedByCoordinator ||
                  !log.submission.adminResponse.acceptedByCoordinator ||
                  log.submission.adminResponse.companyAgrees ||
                  !log.submission.adminResponse.companyAgrees ||
                  log.submission.adminResponse.emailSentByCoordinator ||
                  !log.submission.adminResponse.emailSentByCoordinator
                "
              >
                <div class="text-sm text-gray-500">
                  {{ log.submission.student.account.email.toLowerCase() }}
                </div>
              </td>

              <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                <span
                  class="
                    px-2
                    inline-flex
                    text-xs
                    leading-5
                    font-semibold
                    rounded-full
                    bg-green-100
                    text-green-800
                  "
                >
                  {{ log.status == "Rejected" ? "Disapproved" : "Accepted" }}
                </span>
              </td>
              <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                <span
                  class="
                    px-2
                    inline-flex
                    text-xs
                    leading-5
                    font-semibold
                    rounded-full
                  "
                >
                  {{ log.dateStamped | date: "medium" }}
                </span>
              </td>
            </tr>

            <!-- More people... -->
          </tbody>
          <tbody
            class="bg-white divide-y divide-gray-200"
            *ngIf="user.admin.authId == 1"
          >
            <tr
              *ngFor="
                let log of logs.reverse()
                  | paginate: { itemsPerPage: 10, currentPage: p }
              "
            >
              <td
                class="px-6 py-4 whitespace-nowrap"
                *ngIf="
                  log.submission.adminResponse.acceptedByDean ||
                  !log.submission.adminResponse.acceptedByDean
                "
              >
                <div class="text-sm text-gray-900">
                  {{
                    log.submission.lastName +
                      " " +
                      log.submission.middleInitial +
                      " " +
                      log.submission.firstName
                  }}
                </div>
              </td>
              <td
                class="px-6 py-4 whitespace-nowrap"
                *ngIf="
                  log.submission.adminResponse.acceptedByDean ||
                  !log.submission.adminResponse.acceptedByDean
                "
              >
                <div class="text-sm text-gray-500">
                  {{ log.submission.student.account.email.toLowerCase() }}
                </div>
              </td>
              <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                <span
                  class="
                    px-2
                    inline-flex
                    text-xs
                    leading-5
                    font-semibold
                    rounded-full
                    bg-green-100
                    text-green-800
                  "
                >
                  {{ log.status == "Rejected" ? "Disapproved" : "Accepted" }}
                </span>
              </td>
              <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                <span
                  class="
                    px-2
                    inline-flex
                    text-xs
                    leading-5
                    font-semibold
                    rounded-full
                  "
                >
                  {{ log.dateStamped | date: "medium" }}
                </span>
              </td>
            </tr>

            <!-- More people... -->
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<!-- This example requires Tailwind CSS v2.0+
     Pagination -->
<div
  class="
    bg-white
    px-4
    py-3
    flex
    items-center
    justify-between
    border-gray-200
    sm:px-6
    lg:px-8
  "
>
  <div class="flex-1 flex justify-between sm:hidden">
    <a
      href="#"
      class="
        relative
        inline-flex
        items-center
        px-4
        py-2
        border border-gray-300
        text-sm
        font-medium
        rounded-md
        text-gray-700
        bg-white
        hover:bg-gray-50
      "
    >
      Previous
    </a>
    <a
      href="#"
      class="
        ml-3
        relative
        inline-flex
        items-center
        px-4
        py-2
        border border-gray-300
        text-sm
        font-medium
        rounded-md
        text-gray-700
        bg-white
        hover:bg-gray-50
      "
    >
      Next
    </a>
  </div>
  <div class="hidden sm:flex-1 sm:flex sm:items-center sm:justify-between">
    <div>
      <p class="text-sm text-gray-700">
        Showing
        <span class="font-medium">1</span>
        to
        <span class="font-medium">10</span>
        of
        <span class="font-medium">{{ logs.length }}</span>
        results
      </p>
    </div>
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>
</div>
