

<div class="max-w-screen-xl mx-auto p-8">
  <h2 class="py-8 text-4xl font-extrabold leading-9 border-gray-100 text-gray-900 mb-12">
    Frequently Asked Questions
  </h2>
  <ul class="flex items-start gap-16 flex-wrap">
    <li class="w-2/5">
      <p class="text-lg font-semibold leading-6 text-gray-900">
        What is InternConnect?
      </p>
      <div class="mt-2">
        <p class="text-base leading-6 text-gray-700 text-justify">
          InternConnect is a dedicated platform for requesting endorsement letters and viewing accredited companies in UST-CICS.
          It is part of the major requirements in the Practicum course for CICS prior to starting one's internship.
        </p>
      </div>
    </li>
    <li class="w-2/5">
      <p class="text-lg font-semibold leading-6 text-gray-900">
        What's an endorsement request for?
      </p>
      <div class="mt-2">
        <p class="text-base leading-6 text-gray-700 text-justify">
          It is a form that is processed by the Practicum Coordinator indicating the pertinent details
          about the company where a student intends to have the internship during the term. An endorsement
          letter will be generated based on the entries approved on the form. it will explicitly state the
          lines of work that an intern must work on during the internship.
        </p>
      </div>
    </li>
    <li class="w-2/5">
      <p class="text-lg font-semibold leading-6 text-gray-900">
        What do I have to prepare prior to submitting an endorsement request?
      </p>
      <div class="mt-2">
        <p class="text-base leading-6 text-gray-700 text-justify">
          As a student, you will need the following:
        </p>
        <ol class="list-decimal list-inside md:list-decimal ml-4 text-gray-700">
          <li>Company Acceptance Letter</li>
          <li>Company Profile</li>
          <li>Name, Email, and Designation of Contact Person</li>
        </ol>
      </div>
    </li>
    <li class="w-2/5">
      <p class="text-lg font-semibold leading-6 text-gray-900">
        How do I check the progress of the endorsement?
      </p>
      <div class="mt-2">
        <p class="text-base leading-6 text-gray-700 text-justify">
          To visit the status page:
        </p>
        <ol class="list-decimal list-inside md:list-decimal ml-4 text-gray-700">
          <li>Visit the landing page</li>
          <li>Click 'Status'</li>
        </ol>
        <p class="pt-4 text-base leading-6 text-gray-700 text-justify">
          The student will also receive email notifications regarding updates on the request.
        </p>
      </div>
    </li>
    <li class="w-2/5">
      <p class="text-lg font-semibold leading-6 text-gray-900">
        What other requirements should I be aware of?
      </p>
      <div class="mt-2">
        <p class="text-base leading-6 text-gray-700 text-justify">
         Other gradeable components are not part of this platform. You may reach out to your Practicum Coordinator
         for the requirements to be submitted via UST Cloud Campus (Blackboard).
        </p>
      </div>
    </li>
    <li class="w-2/5">
      <p class="text-lg font-semibold leading-6 text-gray-900">
        What should I do if the company I applied for/was accepted to is not accredited?
      </p>
      <div class="mt-2">
        <p class="text-base leading-6 text-gray-700 text-justify">
          You will need to prepare a Memorandum of Agreement (MOA) signed by the company and the CICS administrators. A
          template is available for you to download in the landing page.
        </p>
      </div>
    </li>
  </ul>
</div>

<app-footer></app-footer>
