<div class="bg-lightblue py-20 px-4">
  <div class="mx-auto max-w-6xl flex flex-col md:flex-row">
    <h2 class="mr-8 w-full md:w-1/3 text-3xl py-6 lg:py-0 font-extrabold leading-9">
      Frequently-asked questions
    </h2>
    <dl class="w-full md:w-2/3">
      <dt class="mb-4">
        <h3 class="text-xl font-semibold">
          What is InternConnect?
        </h3>
      </dt>
      <dd class="mb-16">
        <p>
          InternConnect is a dedicated platform for requesting endorsement letters and viewing accredited companies in
          UST-CICS.
          It is part of the major requirements in the Practicum course for CICS prior to starting one's internship. </p>
      </dd>
      <dt class="mb-4">
        <h3 class="text-xl font-semibold">
          What's an endorsement request for?
        </h3>
      </dt>
      <dd class="mb-16">
        <p>
          It is a form that is processed by the Practicum Coordinator indicating the pertinent details
          about the company where a student intends to have the internship during the term. An endorsement
          letter will be generated based on the entries approved on the form. it will explicitly state the
          lines of work that an intern must work on during the internship. </p>
      </dd>
      <dt class="mb-4">
        <h3 class="text-xl font-semibold">
          What do I have to prepare prior to submitting an endorsement request?
        </h3>
      </dt>
      <dd class="mb-16">
        <div class="mt-2">
          <p class="text-base leading-6 text-gray-700 text-justify">
            To visit the status page:
          </p>
          <ol class="list-decimal list-inside md:list-decimal ml-4 text-gray-700">
            <li>Visit the landing page</li>
            <li>Click 'Status'</li>
          </ol>
          <p class="pt-4 text-base leading-6 text-gray-700 text-justify">
            The student will also receive email notifications regarding updates on the request.
          </p>
        </div>
      </dd>
      <dt class="mb-4">
        <h3 class="text-xl font-semibold">
          What other requirements should I be aware of?
        </h3>
      </dt>
      <dd class="mb-16">
        <p>
          Other gradeable components are not part of this platform. You may reach out to your Practicum Coordinator
          for the requirements to be submitted via UST Cloud Campus (Blackboard).</p>
      </dd>
      <dt class="mb-4">
        <h3 class="text-xl font-semibold">
          What should I do if the company I applied for/was accepted to is not accredited?
        </h3>
      </dt>
      <dd class="mb-16">
        <p>
          You will need to prepare a Memorandum of Agreement (MOA) signed by the company and the CICS administrators. A
          template is available for you to download in the landing page.</p>
      </dd>
    </dl>
  </div>
</div>

<app-footer></app-footer>
