

<div class="status-page__container bg-gray-50">
  <div class="heading__container">
    <h1 class="text-4xl leading-8 text-center font-extrabold text-gray-900 py-12">
        Status
      </h1>
  </div>
  <div class="hero__container">
    <div class="student-container">
      <div class="student-info__container">
        <div class="bg-white shadow overflow-hidden sm:rounded-lg">
          <div class="padding-alter">
            <h3 class="text-lg leading-6 font-bold text-gray-900">
              Applicant Information
            </h3>
            <p class=" text-gray-500">
              Your personal details can be found here.
            </p>
          </div>
          <div class="border-t border-gray-200">
            <dl>
              <div class="bg-gray-50 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                <dt class="padding-alter text-sm font-medium text-gray-500">
                  Full name
                </dt>
                <dd class="mt-1 padding-alter break-words text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                  {{student.firstName+" "+student.middleInitial+" "+student.lastName}}
                </dd>
              </div>
              <div class="bg-gray-50 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                <dt class="padding-alter text-sm font-medium text-gray-500">
                  Email Address
                </dt>
                <dd class="padding-alter break-words mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                  {{student.student.account.email.toLowerCase()}}
                </dd>
              </div>
            </dl>
          </div>
        </div>
      </div>
      <div class="change-company__contianer">
        <button *ngIf="student.adminResponse.companyAgrees" class="change-company__btn rounded-md border border-transparent shadow-sm px-4 py-2 bg-green-600 text-base font-medium text-white hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500" (click)="toChange()" >
          Change Company</button>
      </div>
      <div class="update-form__container" >
        <button [disabled]="!comments" class="disabled:cursor-not-allowed updateForm__btn rounded-md border border-gray-300 shadow-sm bg-white text-base font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500 cursor-pointer" (click)="toUpdate()">
          Update Form</button>
      </div>
      <div class="legend-container">
        <div class="bg-white shadow overflow-hidden sm:rounded-lg">
          <div class="padding-alter">
            <h3 class="text-lg leading-6 font-bold text-gray-900">
              Legend
            </h3>
          </div>
          <div class="border-t border-gray-200">
            <dl>
              <div class="bg-gray-50 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                <dt class="padding-alter text-sm font-medium text-gray-500">
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 19v-8.93a2 2 0 01.89-1.664l7-4.666a2 2 0 012.22 0l7 4.666A2 2 0 0121 10.07V19M3 19a2 2 0 002 2h14a2 2 0 002-2M3 19l6.75-4.5M21 19l-6.75-4.5M3 10l6.75 4.5M21 10l-6.75 4.5m0 0l-1.14.76a2 2 0 01-2.22 0l-1.14-.76" />
                  </svg>
                </dt>
                <dd class="padding-alter mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                  Acknowledged
                </dd>
              </div>
              <div class="bg-white-50 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                <dt class="padding-alter text-sm font-medium text-gray-500">
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z" />
                  </svg>
                </dt>
                <dd class="padding-alter mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                  Signed
                </dd>
              </div>
              <div class="bg-gray-50 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                <dt class="padding-alter text-sm font-medium text-gray-500">
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 19l9 2-9-18-9 18 9-2zm0 0v-8" />
                  </svg>
                </dt>
                <dd class="padding-alter mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                  Sent to Company
                </dd>
              </div>
              <div class="bg-white sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                <dt class="padding-alter text-sm font-medium text-gray-500">
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 fill-current text-green-600" viewBox="0 0 20 20" fill="currentColor">
                    <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
                  </svg>
                </dt>
                <dd class="padding-alter mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                  Accepted
                </dd>
              </div>
              <div class="bg-gray-50 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                <dt class="padding-alter text-sm font-medium text-gray-500">
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 fill-current text-red-600" viewBox="0 0 20 20" fill="currentColor">
                    <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.707 7.293a1 1 0 00-1.414 1.414L8.586 10l-1.293 1.293a1 1 0 101.414 1.414L10 11.414l1.293 1.293a1 1 0 001.414-1.414L11.414 10l1.293-1.293a1 1 0 00-1.414-1.414L10 8.586 8.707 7.293z" clip-rule="evenodd" />
                  </svg>
                </dt>
                <dd class="padding-alter mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                  Rejected
                </dd>
              </div>
            </dl>
          </div>
        </div>
        <div class="student-info__container">
          <div class="mt-10 bg-white shadow overflow-hidden sm:rounded-lg">
            <div class="padding-alter">
              <h3 class="text-lg leading-6 font-bold text-gray-900">
                Deadlines
              </h3>
            </div>
            <div class="border-t border-gray-200">
              <dl>
                <div class="bg-gray-50 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6" *ngFor="let event of eventList">
                  <dt class="padding-alter text-sm font-medium text-gray-500">
                  {{event.endDate| date}}
                  </dt>
                  <dd class="mt-1 padding-alter break-words text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                    <b>{{event.name}}</b>
                  </dd>
                </div>
              </dl>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="acknowledged-container statuses-container">
      <div class="acknowledged-container statuses-container"*ngIf="responseType == 'acknowledged'" >
        <div class="bg-white shadow overflow-hidden sm:rounded-lg padding-alter">
            <!--Acknowledged-->
            <div class="p-3">
              <div class="inline-flex justify-center items-center">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-12 w-12" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 19v-8.93a2 2 0 01.89-1.664l7-4.666a2 2 0 012.22 0l7 4.666A2 2 0 0121 10.07V19M3 19a2 2 0 002 2h14a2 2 0 002-2M3 19l6.75-4.5M21 19l-6.75-4.5M3 10l6.75 4.5M21 10l-6.75 4.5m0 0l-1.14.76a2 2 0 01-2.22 0l-1.14-.76" />
                </svg>
                <p class="text-2xl font-bold pl-3">Your request is acknowledged.</p>
              </div>
              <p class=" text-gray-700">
                The practicum coordinator received your request and will now be verifying your form details.
                <br><br>
                After verifying, the practicum coordinator will forward the form to the IGAARP and Dean for signing.
              </p>
            </div>
          <div class="border-t border-gray-200">
            <dl>
              <div class="bg-white-50 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                <dt class="padding-alter text-sm font-medium text-gray-500">
                  Remarks
                </dt>
                <dd class="padding-alter mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                  None
                </dd>
              </div>
            </dl>
          </div>
        </div>
      </div>
      <div class="signed-container statuses-container"  *ngIf="responseType == 'dean'">
        <div class="bg-white shadow overflow-hidden sm:rounded-lg padding-alter">
          <!-- Signed -->
          <div class="p-3">
            <div class="inline-flex justify-center items-center">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-12 w-12" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z" />
              </svg>
              <p class="text-2xl font-bold pl-3">Your endorsement letter is signed.</p>
            </div>
            <p class=" text-gray-700">
              The CICS dean, IGAARP coordinator, and practicum coordinator have finalized your request and signed your endorsement letter.
              <br><br>
              Thanks for being patient. Just a few more steps and you're good to go.
            </p>
          </div>
          <div class="border-t border-gray-200 " >
            <dl>
              <div class="bg-white-50 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                <dt class="padding-alter text-sm font-medium text-gray-500">
                  Remarks
                </dt>
                <dd class="padding-alter mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                  None
                </dd>
              </div>
            </dl>
          </div>
        </div>
      </div>
      <div class="sentTo-Company-container statuses-container"  *ngIf="responseType == 'emailed'">
        <div class="bg-white shadow overflow-hidden sm:rounded-lg padding-alter">
          <!-- Sent to company -->
          <div class="p-3">
            <div class="inline-flex justify-center items-center">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-12 w-12" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 19l9 2-9-18-9 18 9-2zm0 0v-8" />
              </svg>
              <p class="text-2xl font-bold pl-3">Your endorsement letter has been sent to the company.</p>
            </div>
            <p class=" text-gray-700">
              The practicum coordinator successfully sent the endorsement letter to the email address of the company representative indicated in the form.
              <br><br>
              Just one more step and you're ready to start your internship!
            </p>
          </div>
          <div class="border-t border-gray-200 ">
            <dl>
              <div class="bg-white-50 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                <dt class="padding-alter text-sm font-medium text-gray-500">
                  Remarks
                </dt>
                <dd class="padding-alter mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                  None
                </dd>
              </div>
            </dl>
          </div>
        </div>
      </div>
      <div class="accepted-container statuses-container" *ngIf="responseType== 'agrees'">
        <div class="bg-white shadow overflow-hidden sm:rounded-lg padding-alter">
          <!-- Accepted -->
          <div class="p-3">
            <div class="inline-flex justify-center items-center">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-12 w-12 fill-current text-green-600" viewBox="0 0 20 20"
                fill="currentColor">
                <path fill-rule="evenodd"
                  d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                  clip-rule="evenodd" />
              </svg>
              <p class="text-2xl font-bold pl-3">Congrats! Your endorsement is accepted.</p>
            </div>
            <p class=" text-gray-700">
              The company successfully claimed the endorsement letter.
              <br><br>
              You are now ready to start your internship and proceed with other practicum requirements.
            </p>
          </div>
          <div class="border-t border-gray-200 ">
            <dl>
              <div class="bg-white-50 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                <dt class="padding-alter text-sm font-medium text-gray-500">
                  Remarks
                </dt>
                <dd class="padding-alter mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                  None
                </dd>
              </div>
            </dl>
          </div>
        </div>
      </div>
      <div class="rejected-container statuses-container" *ngIf="comments">
        <div class="bg-white shadow overflow-hidden sm:rounded-lg padding-alter">
          <!-- Rejected -->
          <div class="p-3">
            <div class="inline-flex justify-center items-center">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-12 w-12 fill-current text-red-600" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.707 7.293a1 1 0 00-1.414 1.414L8.586 10l-1.293 1.293a1 1 0 101.414 1.414L10 11.414l1.293 1.293a1 1 0 001.414-1.414L11.414 10l1.293-1.293a1 1 0 00-1.414-1.414L10 8.586 8.707 7.293z" clip-rule="evenodd" />
              </svg>
              <p class="text-2xl font-bold pl-3">Sorry, your request was disapproved.</p>
            </div>
            <p class=" text-gray-700">
              You probably missed out something or entered incorrect data required in the form.
            </p>
          </div>
          <div class="border-t border-gray-200 ">
            <dl>
              <div class="bg-white-50 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                <dt class="padding-alter text-sm font-medium text-gray-500">
                  Remarks
                </dt>
                <dd class="padding-alter mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                  {{comments}}
                </dd>
              </div>
            </dl>
          </div>
        </div>
      </div>
    </div>
</div>

<!-- This is the Update FormEntry -->
<div class="fixed z-10 inset-0 overflow-y-auto" aria-labelledby="modal-title" role="dialog" aria-modal="true" *ngIf="FormEntry">
  <form [formGroup]="updateSubmission" (ngSubmit)="updateFormSubmit()">
    <div class="flex items-end justify-center min-h-screen pt-4 pb-24 text-center sm:block sm:p-0">
      <!--
        Background overlay, show/hide based on modal state.
        Entering: "ease-out duration-300"
          From: "opacity-0"
          To: "opacity-100"
        Leaving: "ease-in duration-200"
          From: "opacity-100"
          To: "opacity-0"
      -->
      <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity" aria-hidden="true"></div>

      <!-- This element is to trick the browser into centering the modal contents. -->
      <span class="hidden sm:inline-block sm:align-middle sm:h-screen" aria-hidden="true">&#8203;</span>

      <!--
        Modal panel, show/hide based on modal state.
        Entering: "ease-out duration-300"
          From: "opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
          To: "opacity-100 translate-y-0 sm:scale-100"
        Leaving: "ease-in duration-200"
          From: "opacity-100 translate-y-0 sm:scale-100"
          To: "opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
      -->
      <div class="inline-block align-bottom bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full">
        <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
          <div class="sm:flex sm:items-start">
            <div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left">
              <h3 class="text-2xl leading-6 font-bold text-gray-900" id="modal-title">
                Update Form Submission
              </h3>
              <div class="mt-6">
                  <div class=" bg-white">

                    <div class="grid grid-cols-6 gap-6">
                      <div class="col-span-6 sm:col-span-3 lg:col-span-3">
                        <label for="street-address" class="block text-sm font-medium text-gray-700">
                          <span class="text-red-500">*</span>Prefix: </label>
                        <select id="specialization" formControlName="studentTitle"
                        class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm">
                          <option value="Mr.">Mr.</option>
                          <option value="Ms.">Ms.</option>
                        </select>
                        <span *ngIf="updateSubmission.get('studentTitle').invalid && (updateSubmission.get('studentTitle').dirty || updateSubmission.get('studentTitle').touched)" class="flex items-center font-bold tracking-wide text-red-500 text-xs mt-1 ml-1">
                          {{ updateSubmission.get("studentTitle").invalid ? "Required" : "Invalid field" }}</span>
                      </div>
                      <div class="col-span-6">
                        <label for="street-address" class="block text-sm font-medium text-gray-700">
                          <span class="text-red-500">*</span>Last name</label>
                        <input formControlName="lastName" type="text" name="street-address" id="street-address"  placeholder="dela Cruz"
                          class="mt-1 focus:ring-blue-500 focus:border-blue-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                        <span *ngIf="updateSubmission.get('lastName').invalid && (updateSubmission.get('lastName').dirty || updateSubmission.get('lastName').touched)" class="flex items-center font-bold tracking-wide text-red-500 text-xs mt-1 ml-1">
                          {{ updateSubmission.get("lastName").invalid ? "Required" : "Invalid field" }}</span>
                      </div>

                      <div class="col-span-6">
                        <label for="street-address" class="block text-sm font-medium text-gray-700">
                          <span class="text-red-500">*</span>First Name</label>
                        <input formControlName="firstName" type="text" name="street-address" id="street-address"  placeholder="Juan"
                          class="mt-1 focus:ring-blue-500 focus:border-blue-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                        <span *ngIf="updateSubmission.get('firstName').invalid && (updateSubmission.get('firstName').dirty || updateSubmission.get('firstName').touched)" class="flex items-center font-bold tracking-wide text-red-500 text-xs mt-1 ml-1">
                          {{ updateSubmission.get("firstName").invalid ? "Required" : "Invalid field" }}</span>
                      </div>
                      <div class="col-span-6">
                        <label for="street-address" class="block text-sm font-medium text-gray-700">
                          <span class="text-red-500">*</span>Middle Initial</label>
                        <input formControlName="middleInitial" type="text" name="street-address" id="street-address"  placeholder="A."
                          class="mt-1 focus:ring-blue-500 focus:border-blue-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                        <span *ngIf="updateSubmission.get('middleInitial').invalid && (updateSubmission.get('middleInitial').dirty || updateSubmission.get('middleInitial').touched)" class="flex items-center font-bold tracking-wide text-red-500 text-xs mt-1 ml-1">
                          {{ updateSubmission.get("middleInitial").invalid ? "Required" : "Invalid field" }}</span>
                      </div>
                      <div class="col-span-6">
                        <label for="street-address" class="block text-sm font-medium text-gray-700">
                          <span class="text-red-500">*</span>Student Number </label>
                        <input formControlName="studentNumber" type="number" name="street-address" id="street-address" type="number" min="2000000000" max="2999999999" placeholder="2021123456"
                          class="mt-1 focus:ring-blue-500 focus:border-blue-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                        <span *ngIf="updateSubmission.get('studentNumber').invalid && (updateSubmission.get('studentNumber').dirty || updateSubmission.get('studentNumber').touched)" class="flex items-center font-bold tracking-wide text-red-500 text-xs mt-1 ml-1">
                          {{ updateSubmission.get("studentNumber").invalid ? "Input must have 10 numerical digits." : "Invalid field" }}</span>
                      </div>
                      <div class="col-span-6 sm:col-span-3 lg:col-span-3">
                        <label for="specialization" class="block text-sm font-medium text-gray-700">
                          <span class="text-red-500">*</span>Specialization</label>
                        <select id="specialization" formControlName="trackId"
                          class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm"*ngFor="let prog of program">
                          <option *ngFor="let tracks of prog.tracks" [ngValue]="tracks.id">{{tracks.name}}</option>
                        </select>
                        <span *ngIf="updateSubmission.get('trackId').invalid && (updateSubmission.get('trackId').dirty || updateSubmission.get('trackId').touched)" class="flex items-center font-bold tracking-wide text-red-500 text-xs mt-1 ml-1">
                          {{ updateSubmission.get("trackId").invalid ? "Required" : "Invalid field" }}</span>
                      </div>
                      <div class="col-span-6">
                        <label for="street-address" class="block text-sm font-medium text-gray-700">
                          <span class="text-red-500">*</span>Email Address of Contact Person (Company Representative)</label>
                        <input type="text" name="street-address" id="street-address" placeholder="companyrep@mail.com" formControlName="contactPersonEmail"
                          class="mt-1 focus:ring-blue-500 focus:border-blue-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                        <span *ngIf="updateSubmission.get('contactPersonEmail').invalid && (updateSubmission.get('contactPersonEmail').dirty || updateSubmission.get('contactPersonEmail').touched)" class="flex items-center font-bold tracking-wide text-red-500 text-xs mt-1 ml-1">
                          {{ updateSubmission.get("contactPersonEmail").invalid ? "Required" : "Invalid field" }}</span>
                      </div>

                      <div class="col-span-6 sm:col-span-3 lg:col-span-3">
                        <label for="country" class="block text-sm font-medium text-gray-700">
                          <span class="text-red-500">*</span>Title of Contact Person</label>
                        <select id="country" name="country" formControlName="contactPersonTitle"
                          class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm">
                          <option>Mr.</option>
                          <option>Ms.</option>
                          <option>Engr.</option>
                          <option>Atty.</option>
                        </select>
                        <span *ngIf="updateSubmission.get('contactPersonTitle').invalid && (updateSubmission.get('contactPersonTitle').dirty || updateSubmission.get('contactPersonTitle').touched)" class="flex items-center font-bold tracking-wide text-red-500 text-xs mt-1 ml-1">
                          {{ updateSubmission.get("contactPersonTitle").invalid ? "Required" : "Invalid field" }}</span>
                      </div>

                      <div class="col-span-6">
                        <label for="street-address" class="block text-sm font-medium text-gray-700">
                          <span class="text-red-500">*</span>Last Name of Contact Person</label>
                        <input type="text" name="street-address" id="street-address" placeholder="Santos" formControlName="contactPersonLastName"
                          class="mt-1 focus:ring-blue-500 focus:border-blue-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                        <span *ngIf="updateSubmission.get('contactPersonLastName').invalid && (updateSubmission.get('contactPersonLastName').dirty || updateSubmission.get('contactPersonLastName').touched)" class="flex items-center font-bold tracking-wide text-red-500 text-xs mt-1 ml-1">
                          {{ updateSubmission.get("contactPersonLastName").invalid ? "Required" : "Invalid field" }}</span>
                      </div>

                      <div class="col-span-6">
                        <label for="street-address" class="block text-sm font-medium text-gray-700">
                          <span class="text-red-500">*</span>First Name of Contact Person</label>
                        <input type="text" name="street-address" id="street-address" placeholder="Thomasnino" formControlName="contactPersonFirstName"
                          class="mt-1 focus:ring-blue-500 focus:border-blue-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                        <span *ngIf="updateSubmission.get('contactPersonFirstName').invalid && (updateSubmission.get('contactPersonFirstName').dirty || updateSubmission.get('contactPersonFirstName').touched)" class="flex items-center font-bold tracking-wide text-red-500 text-xs mt-1 ml-1">
                          {{ updateSubmission.get("contactPersonFirstName").invalid ? "Required" : "Invalid field" }}</span>
                      </div>

                      <div class="col-span-6">
                        <label for="street-address" class="block text-sm font-medium text-gray-700">
                          <span class="text-red-500">*</span>Official Designation</label>
                        <input type="text" name="street-address" id="street-address" placeholder="Managing Director" formControlName="contactPersonPosition"
                          class="mt-1 focus:ring-blue-500 focus:border-blue-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                        <span *ngIf="updateSubmission.get('contactPersonPosition').invalid && (updateSubmission.get('contactPersonPosition').dirty || updateSubmission.get('contactPersonPosition').touched)" class="flex items-center font-bold tracking-wide text-red-500 text-xs mt-1 ml-1">
                          {{ updateSubmission.get("contactPersonPosition").invalid ? "Required" : "Invalid field" }}</span>
                      </div>
                      <div class="col-span-6">
                        <label for="street-address" class="block text-sm font-medium text-gray-700">
                          <span class="text-red-500">*</span>Internship Description</label>
                        <input formControlName="jobDescription" type="text" name="street-address" id="street-address" placeholder="Managing Director"
                          class="mt-1 focus:ring-blue-500 focus:border-blue-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                        <span *ngIf="updateSubmission.get('jobDescription').invalid && (updateSubmission.get('jobDescription').dirty || updateSubmission.get('jobDescription').touched)" class="flex items-center font-bold tracking-wide text-red-500 text-xs mt-1 ml-1">
                          {{ updateSubmission.get("jobDescription").invalid ? "Required" : "Invalid field" }}</span>
                      </div>

                      <div class="col-span-6 sm:col-span-3 lg:col-span-3">
                        <label for="country" class="block text-sm font-medium text-gray-700">
                          <span class="text-red-500">*</span>Company: </label>
                        <select id="country" name="country" formControlName="companyId"
                          class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm">
                          <option *ngFor="let c of company" [ngValue]="c.id">{{c.name}}</option>
                        </select>
                        <span *ngIf="updateSubmission.get('companyId').invalid && (updateSubmission.get('companyId').dirty || updateSubmission.get('companyId').touched)" class="flex items-center font-bold tracking-wide text-red-500 text-xs mt-1 ml-1">
                          {{ updateSubmission.get("companyId").invalid ? "Required" : "Invalid field" }}</span>
                      </div>

                      <div class="col-span-6 sm:col-span-3 lg:col-span-3">
                        <label for="country" class="block text-sm font-medium text-gray-700">
                          <span class="text-red-500">*</span>Upload company profile</label>
                        <input type="file" id="myFile" name="filename" accept=".doc, .docx, .pdf" (change)="imgCompanyProfile($event)">
                        <!-- <span *ngIf="updateSubmission.get('imgCompanyProfile').invalid && (updateSubmission.get('imgCompanyProfile').dirty || updateSubmission.get('imgCompanyProfile').touched)" class="flex items-center font-bold tracking-wide text-red-500 text-xs mt-1 ml-1">
                          {{ updateSubmission.get("imgCompanyProfile").invalid ? "Required" : "Invalid field" }}</span> -->
                     </div>

                    <div class="col-span-6 sm:col-span-3 lg:col-span-3">
                      <label for="country" class="block text-sm font-medium text-gray-700">
                        <span class="text-red-500">*</span>Upload acceptance letter</label>
                      <input type="file" id="myFile" name="filename" accept=".doc, .docx, .pdf" (change)="imgAcceptanceL($event)">
                      <!-- <span *ngIf="updateSubmission.get('imgAcceptanceL').invalid && (updateSubmission.get('imgAcceptanceL').dirty || updateSubmission.get('imgCompanyProfile').touched)" class="flex items-center font-bold tracking-wide text-red-500 text-xs mt-1 ml-1">
                        {{ updateSubmission.get("imgAcceptanceL").invalid ? "Required" : "Invalid field" }}</span> -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="bg-gray-50 px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse">
          <button type="submit" [disabled]="updateSubmission.invalid || !PhotoFileNameA || !PhotoFileNameC" *ngIf="originalButton" class="w-full inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-green-600 text-base font-medium text-white hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500 sm:ml-3 sm:w-auto sm:text-sm disabled:cursor-not-allowed">
            Submit
          </button>
          <button disabled *ngIf="loadingButton" class="w-full inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-green-600 text-base font-medium text-white hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500 sm:ml-3 sm:w-auto sm:text-sm disabled:cursor-not-allowed">
            <svg width="20" height="20" fill="currentColor" class="mr-2 animate-spin" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
              <path d="M526 1394q0 53-37.5 90.5t-90.5 37.5q-52 0-90-38t-38-90q0-53 37.5-90.5t90.5-37.5 90.5 37.5 37.5 90.5zm498 206q0 53-37.5 90.5t-90.5 37.5-90.5-37.5-37.5-90.5 37.5-90.5 90.5-37.5 90.5 37.5 37.5 90.5zm-704-704q0 53-37.5 90.5t-90.5 37.5-90.5-37.5-37.5-90.5 37.5-90.5 90.5-37.5 90.5 37.5 37.5 90.5zm1202 498q0 52-38 90t-90 38q-53 0-90.5-37.5t-37.5-90.5 37.5-90.5 90.5-37.5 90.5 37.5 37.5 90.5zm-964-996q0 66-47 113t-113 47-113-47-47-113 47-113 113-47 113 47 47 113zm1170 498q0 53-37.5 90.5t-90.5 37.5-90.5-37.5-37.5-90.5 37.5-90.5 90.5-37.5 90.5 37.5 37.5 90.5zm-640-704q0 80-56 136t-136 56-136-56-56-136 56-136 136-56 136 56 56 136zm530 206q0 93-66 158.5t-158 65.5q-93 0-158.5-65.5t-65.5-158.5q0-92 65.5-158t158.5-66q92 0 158 66t66 158z">
              </path>
          </svg>
            Submitting
          </button>
          <button type="button" class="mt-3 w-full inline-flex justify-center rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-base font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500 sm:mt-0 sm:ml-3 sm:w-auto sm:text-sm" (click)="toClose()">
            Cancel
          </button>
        </div>
      </div>
    </div>
  </form>
</div>

<!-- This is the ChangeCompany -->
<div class="fixed z-10 inset-0 overflow-y-auto" aria-labelledby="modal-title" role="dialog" aria-modal="true" *ngIf="CompanyEntry">
  <div class="flex items-end justify-center min-h-screen pt-4 pb-24 text-center sm:block sm:p-0">
    <!--
      Background overlay, show/hide based on modal state.
      Entering: "ease-out duration-300"
        From: "opacity-0"
        To: "opacity-100"
      Leaving: "ease-in duration-200"
        From: "opacity-100"
        To: "opacity-0"
    -->
    <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity" aria-hidden="true"></div>

    <!-- This element is to trick the browser into centering the modal contents. -->
    <span class="hidden sm:inline-block sm:align-middle sm:h-screen" aria-hidden="true">&#8203;</span>

    <!--
      Modal panel, show/hide based on modal state.
      Entering: "ease-out duration-300"
        From: "opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
        To: "opacity-100 translate-y-0 sm:scale-100"
      Leaving: "ease-in duration-200"
        From: "opacity-100 translate-y-0 sm:scale-100"
        To: "opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
    -->
    <div class="inline-block align-bottom bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full">
      <form [formGroup]="companyForm" (ngSubmit)="companySubmit()">
      <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
        <div class="sm:flex sm:items-start">
          <div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left">
            <h3 class="text-2xl leading-6 font-bold text-gray-900" id="modal-title">
              Change company details
            </h3>
            <div class="mt-6">
                <div class=" bg-white">
                  <div class="grid grid-cols-6 gap-6">
                    <div class="col-span-6">
                      <label for="street-address" class="block text-sm font-medium text-gray-700">
                        <span class="text-red-500">*</span>Email Address of Contact Person (Company Representative)</label>
                      <input type="text" name="street-address" id="street-address" placeholder="companyrep@mail.com" formControlName="contactPersonEmail"
                        class="mt-1 focus:ring-blue-500 focus:border-blue-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                    </div>

                    <div class="col-span-6 sm:col-span-3 lg:col-span-3">
                      <label for="country" class="block text-sm font-medium text-gray-700">
                        <span class="text-red-500">*</span>Title of Contact Person</label>
                      <select id="country" name="country" formControlName="contactPersonTitle"
                        class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm">
                        <option>Mr.</option>
                        <option>Ms.</option>
                        <option>Engr.</option>
                        <option>Atty.</option>
                      </select>
                      <span *ngIf="companyForm.get('contactPersonTitle').invalid && (companyForm.get('contactPersonTitle').dirty || companyForm.get('contactPersonTitle').touched)" class="flex items-center font-bold tracking-wide text-red-500 text-xs mt-1 ml-1">
                        {{ companyForm.get("contactPersonTitle").invalid ? "Required" : "Invalid field" }}</span>
                    </div>

                    <div class="col-span-6">
                      <label for="street-address" class="block text-sm font-medium text-gray-700">
                        <span class="text-red-500">*</span>Last Name of Contact Person</label>
                      <input type="text" name="street-address" id="street-address" placeholder="Santos" formControlName="contactPersonLastName"
                        class="mt-1 focus:ring-blue-500 focus:border-blue-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                      <span *ngIf="companyForm.get('contactPersonLastName').invalid && (companyForm.get('contactPersonLastName').dirty || companyForm.get('contactPersonLastName').touched)" class="flex items-center font-bold tracking-wide text-red-500 text-xs mt-1 ml-1">
                        {{ companyForm.get("contactPersonLastName").invalid ? "Required" : "Invalid field" }}</span>
                    </div>

                    <div class="col-span-6">
                      <label for="street-address" class="block text-sm font-medium text-gray-700">
                        <span class="text-red-500">*</span>First Name of Contact Person</label>
                      <input type="text" name="street-address" id="street-address" placeholder="Thomasnino"  formControlName="contactPersonFirstName"
                        class="mt-1 focus:ring-blue-500 focus:border-blue-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                      <span *ngIf="companyForm.get('contactPersonFirstName').invalid && (companyForm.get('contactPersonFirstName').dirty || companyForm.get('contactPersonFirstName').touched)" class="flex items-center font-bold tracking-wide text-red-500 text-xs mt-1 ml-1">
                        {{ companyForm.get("contactPersonFirstName").invalid ? "Required" : "Invalid field" }}</span>
                    </div>

                    <div class="col-span-6">
                      <label for="street-address" class="block text-sm font-medium text-gray-700">
                        <span class="text-red-500">*</span>Official Designation</label>
                      <input type="text" name="street-address" id="street-address" placeholder="Managing Director" formControlName="contactPersonPosition"
                        class="mt-1 focus:ring-blue-500 focus:border-blue-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                      <span *ngIf="companyForm.get('contactPersonPosition').invalid && (companyForm.get('contactPersonPosition').dirty || companyForm.get('contactPersonPosition').touched)" class="flex items-center font-bold tracking-wide text-red-500 text-xs mt-1 ml-1">
                        {{ companyForm.get("contactPersonPosition").invalid ? "Required" : "Invalid field" }}</span>
                    </div>
                    <div class="col-span-6">
                      <label for="street-address" class="block text-sm font-medium text-gray-700">
                        <span class="text-red-500">*</span>Job Description</label>
                      <input type="text" name="street-address" id="street-address" placeholder="Managing Director" formControlName="jobDescription"
                        class="mt-1 focus:ring-blue-500 focus:border-blue-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                      <span *ngIf="companyForm.get('jobDescription').invalid && (companyForm.get('jobDescription').dirty || companyForm.get('jobDescription').touched)" class="flex items-center font-bold tracking-wide text-red-500 text-xs mt-1 ml-1">
                        {{ companyForm.get("jobDescription").invalid ? "Required" : "Invalid field" }}</span>
                    </div>

                    <div class="col-span-6 sm:col-span-3 lg:col-span-3">
                      <label for="country" class="block text-sm font-medium text-gray-700">
                        <span class="text-red-500">*</span>Name of Company Or Institution: </label>
                      <select id="country" name="country" formControlName="companyId"
                        class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm">
                        <option *ngFor="let c of company" [ngValue]="c.id">{{c.name}}</option>
                      </select>
                      <span *ngIf="companyForm.get('companyId').invalid && (companyForm.get('companyId').dirty || companyForm.get('companyId').touched)" class="flex items-center font-bold tracking-wide text-red-500 text-xs mt-1 ml-1">
                        {{ companyForm.get("companyId").invalid ? "Required" : "Invalid field" }}</span>
                    </div>

                    <div class="col-span-6 sm:col-span-3 lg:col-span-3">
                      <label for="country" class="block text-sm font-medium text-gray-700">
                        <span class="text-red-500">*</span>Upload company profile</label>
                      <input type="file" id="myFile" name="filename" accept=".doc, .docx, .pdf" (change)="imgCompanyProfile($event)">
                      <!-- <span *ngIf="companyForm.get('imgCompanyProfile').invalid && (companyForm.get('imgCompanyProfile').dirty || companyForm.get('imgCompanyProfile').touched)" class="flex items-center font-bold tracking-wide text-red-500 text-xs mt-1 ml-1">
                        {{ companyForm.get("imgCompanyProfile").invalid ? "Required" : "Invalid field" }}</span> -->
                   </div>

                  <div class="col-span-6 sm:col-span-3 lg:col-span-3">
                    <label for="country" class="block text-sm font-medium text-gray-700">
                      <span class="text-red-500">*</span>Upload acceptance letter</label>
                    <input type="file" id="myFile" name="filename" accept=".doc, .docx, .pdf" (change)="imgAcceptanceL($event)">
                    <!-- <span *ngIf="(!PhotoFileNameA || !PhotoFileNameC)">"Required"</span> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="bg-gray-50 px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse">
        <button [disabled]="companyForm.invalid || !PhotoFileNameA || !PhotoFileNameC" type="submit" class="w-full inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-green-600 {{!PhotoFileNameA || !PhotoFileNameC? 'bg-gray-50': 'bg-green-600'}} text-base font-medium text-white hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500 sm:ml-3 sm:w-auto sm:text-sm  disabled:cursor-not-allowed">
          Submit
        </button>
        <button type="button" class="mt-3 w-full inline-flex justify-center rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-base font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500 sm:mt-0 sm:ml-3 sm:w-auto sm:text-sm" (click)="toCloseSecond()">
          Cancel
        </button>
      </div>
    </form>
    </div>

  </div>
</div>
