<!-- Section 3: View all Companies -->
<section class="container items-center max-w-6xl px-8 mx-auto xl:px-5 py-16 bg-white md:px-0">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="lg:text-center">
      <p class="mt-2 text-3xl leading-8 font-extrabold tracking-tight text-gray-900 sm:text-4xl">
        Start finding the company that's best suited for you.
      </p>
      <p class="mt-4 max-w-2xl text-xl text-gray-500 lg:mx-auto">
        Our directory serves as a reference to the College's accredited companies.
      </p>
    </div>
  </div>

  <section class="text-gray-600 body-font">
    <div class="container mx-auto px-5 py-12 items-center justify-center flex">
      <img class="lg:w-2/5 md:w-3/6 w-5/6 px-4  object-cover object-center rounded" alt="hero" src="https://res.cloudinary.com/daljbo1q0/image/upload/v1633844384/Landing/office_2_bqadb2.gif">
      <img class="lg:w-2/5 md:w-3/6 w-5/6 px-4 object-cover object-center rounded" alt="hero" src="https://res.cloudinary.com/daljbo1q0/image/upload/v1633844384/Landing/office_1_vyo8i1.gif">
    </div>
  </section>
  <!-- <div class="py-12 w-full px-8 mt-16 items-center">
    <img src="./assets/img/company-pic.png" class="w-auto" viewBox="0 0 1060 539">
  </div> -->

  <!-- dont delete this boi -->
  <!-- <div class="pt-6 pb-2 w-full px-8 mt-16">
    <div class="w-full flex justify-evenly items-center mt-4 flex-wrap lg:flex-nowrap">
      <img  [src]="photoUrl+(companies[0].logoFileName? 'companies[0].logoFileName':'2021-11-10--20-45-36330c56e4-c01c-42b9-a674-c50c44931362.jpg')" class="h-14 w-auto mt-4 lg:mt-2" alt="">
      <img  [src]="photoUrl+(companies[1].logoFileName? 'companies[1].logoFileName':'2021-11-10--20-45-36330c56e4-c01c-42b9-a674-c50c44931362.jpg')" class="h-14 w-auto mt-4 lg:mt-0" alt="">
      <img  [src]="photoUrl+(companies[2].logoFileName? 'companies[2].logoFileName':'2021-11-10--20-45-36330c56e4-c01c-42b9-a674-c50c44931362.jpg')" class="h-14 w-auto mt-4 lg:mt-0" alt="">
      <img  [src]="photoUrl+(companies[3].logoFileName? 'companies[3].logoFileName':'2021-11-10--20-45-36330c56e4-c01c-42b9-a674-c50c44931362.jpg')" class="h-14 w-auto mt-4 lg:mt-0" alt="">
    </div>
  </div> -->

  <div class="py-2 px-8 flex justify-center lg:justify-center">
    <a routerLink = "companydirectory" class="flex items-center w-full px-6 py-3 mb-3 text-lg bg-red-500 text-white font-bold border border-red-500 hover:bg-red-600 focus:shadow-outline rounded-2xl sm:mb-0 sm:w-auto">View all companies</a>
  </div>
</section>
