<!-- Students -->
<div class="pt-6 sm:px-6 lg:px-8 pb-10">
  <div>
    <h1
      class="inline-block text-3xl font-extrabold text-gray-900 tracking-tight"
    >
      Manual Enrollment of Student Accounts
    </h1>
  </div>
  <p class="mt-1 text-lg text-gray-500">
    This contains the list of students enrolled in your section.
  </p>


</div>



<div class="py-2 align-middle inline-block min-w-full">
  <div class="flex flex-col" *ngIf="user.admin.authId === 2">
    <h2 class="py-3 flex text-xl font-bold items-center sm:px-6 lg:px-8">Batch upload</h2>

    <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8 sm:px-6 lg:px-8">
      <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
          <button class=" h-8 px-4 text-white transition-colors duration-150 bg-green-600 rounded-full focus:shadow-outline hover:bg-green-700" (click)="openBatch()">Upload CSV</button>
          <a class="text-green-600 hover:underline px-5" [href]="_env+'files/Batch-upload-template.csv'" ><u>Download CSV Template</u></a>
          <!-- <hr /> -->
          <!-- <form action="" [formGroup]="studentForms" (ngSubmit)="formSubmit()">
            <table class="min-w-full divide-y divide-gray-200">
              <tbody class="bg-white divide-y divide-gray-200">
                <tr>
                  <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                    <label class="block text-sm font-medium text-gray-700"
                      >Assign a section</label
                    ><select
                      formcontrolname="sectionId"
                      name="sectionId"
                      class="
                        mt-1
                        block
                        w-full
                        py-2
                        px-3
                        border border-gray-300
                        bg-white
                        rounded-md
                        shadow-sm
                        focus:outline-none
                        focus:ring-green-500
                        focus:border-green-500
                        sm:text-sm
                      "
                    >
                      <option
                        *ngfor="let section of Section"
                        value="{{ section.id }}"
                      >
                        {{ section.name }}
                      </option>
                    </select>
                  </td>
                  <td
                    class="
                      px-4
                      w-2
                      pt-5
                      whitespace-nowrap
                      text-sm text-gray-500
                    "
                  >
                    <label
                      class="block text-sm font-medium text-gray-700"
                    ></label>
                    <input type="file" />
                  </td>
                  <div class="" style="display: none">
                    <input type="hidden" formcontrolname="programId" />
                  </div>
                  <td
                    class="
                      pt-9
                      px-2
                      py-4
                      whitespace-nowrap
                      text-right text-sm
                      font-medium
                    "
                  >
                    <button
                      class="
                        block
                        h-8
                        px-4
                        text-white
                        transition-colors
                        duration-150
                        bg-green-600
                        rounded-full
                        focus:shadow-outline
                        hover:bg-green-700
                      "
                    >
                      Assign
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </form> -->
          <form
            action=""
            [formGroup]="studentFormsCoord"
            (ngSubmit)="formSubmitforCoord()"
          >
            <table
              class="min-w-full divide-y divide-gray-200"
              *ngIf="user.admin.authId === 3"
            >
              <!-- User Assignment -->
              <!--
              <tbody class="bg-white divide-y divide-gray-200">
                <tr>
                  <td class="px-2 py-4 whitespace-nowrap">
                    <div class="col-span-6 sm:col-span-3 lg:col-span-2">
                      <label for="state" class="block text-sm font-medium text-gray-700">Input a student's email</label>
                      <input type="text" name="email" id="state" formControlName="email" class="mt-1
                          focus:ring-green-500 focus:border-green-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" />
                    </div>
                  </td>
                  <div class="" style="display: none">
                    <input type="hidden" formControlName="adminEmail" name="adminEmail" />
                  </div>
                  <div class="" style="display: none">
                    <input type="hidden" formControlName="programId" />
                  </div>
                  <td class="
                      pt-9
                      px-6
                      py-4
                      whitespace-nowrap
                      text-right text-sm
                      font-medium
                    ">
                    <button class="
                        block
                        h-8
                        px-4
                        text-white
                        transition-colors
                        duration-150
                        bg-green-600
                        rounded-full
                        focus:shadow-outline
                        hover:bg-green-700
                      ">
                      Assign
                    </button>
                  </td>
                </tr>
              </tbody> -->
            </table>
          </form>
      </div>
    </div>
  </div>

  <div class="pt-12 flex flex-col">


    <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8 sm:px-6 lg:px-8">

      <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
        <h2 class="py-3 flex text-xl font-bold items-center">
          Manual Enrollment
        </h2>
        <div
          class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg"
        >
          <hr />
          <form action="" [formGroup]="studentForms" (ngSubmit)="formSubmit()">
            <table
              class="min-w-full divide-y divide-gray-200"
              *ngIf="user.admin.authId === 2"
            >
              <!-- User Assignment -->

              <tbody class="bg-white divide-y divide-gray-200">
                <tr>
                  <td class="px-2 py-4 whitespace-nowrap">
                    <div class="col-span-6 sm:col-span-3 lg:col-span-2">
                      <label
                        for="state"
                        class="block text-sm font-medium text-gray-700"
                        >Input a student's email</label
                      >
                      <input
                        type="email"
                        name="email"
                        id="state"
                        formControlName="email"
                        class="
                          mt-1
                          focus:ring-green-500 focus:border-green-500
                          block
                          w-full
                          shadow-sm
                          sm:text-sm
                          border-gray-300
                          rounded-md
                        "
                        placeholder="student@ust.edu.ph"
                      />
                    </div>
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                    <label class="block text-sm font-medium text-gray-700"
                      >Assign a section</label
                    >
                    <select
                      formControlName="sectionId"
                      name="sectionId"
                      class="
                        mt-1
                        block
                        w-full
                        py-2
                        px-3
                        border border-gray-300
                        bg-white
                        rounded-md
                        shadow-sm
                        focus:outline-none
                        focus:ring-green-500
                        focus:border-green-500
                        sm:text-sm
                      "
                    >
                      <option
                        *ngFor="let section of Section"
                        value="{{ section.id }}"
                      >
                        {{ section.name }}
                      </option>
                    </select>
                  </td>
                  <div class="" style="display: none">
                    <input
                      type="hidden"
                      formControlName="adminEmail"
                      name="adminEmail"
                    />
                  </div>
                  <div class="" style="display: none">
                    <input type="hidden" formControlName="programId" />
                  </div>
                  <td
                    class="
                      pt-9
                      px-6
                      py-4
                      whitespace-nowrap
                      text-right text-sm
                      font-medium
                    "
                  >
                    <button
                      class="
                        block
                        h-8
                        px-4
                        text-white
                        transition-colors
                        duration-150
                        bg-green-600
                        rounded-full
                        focus:shadow-outline
                        hover:bg-green-700
                      "
                    >
                      Assign
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </form>
          <form
            action=""
            [formGroup]="studentFormsCoord"
            (ngSubmit)="formSubmitforCoord()"
          >
            <table
              class="min-w-full divide-y divide-gray-200"
              *ngIf="user.admin.authId === 3"
            >
              <!-- User Assignment -->

              <tbody class="bg-white divide-y divide-gray-200">
                <tr>
                  <td class="px-2 py-4 whitespace-nowrap">
                    <div class="col-span-6 sm:col-span-3 lg:col-span-2">
                      <label
                        for="state"
                        class="block text-sm font-medium text-gray-700"
                        >Input a student's email</label
                      >
                      <input
                        type="text"
                        name="email"
                        id="state"
                        formControlName="email"
                        class="
                          mt-1
                          focus:ring-green-500 focus:border-green-500
                          block
                          w-full
                          shadow-sm
                          sm:text-sm
                          border-gray-300
                          rounded-md
                        "
                      />
                    </div>
                  </td>
                  <div class="" style="display: none">
                    <input
                      type="hidden"
                      formControlName="adminEmail"
                      name="adminEmail"
                    />
                  </div>
                  <div class="" style="display: none">
                    <input type="hidden" formControlName="programId" />
                  </div>
                  <td
                    class="
                      pt-9
                      px-6
                      py-4
                      whitespace-nowrap
                      text-right text-sm
                      font-medium
                    "
                  >
                    <button
                      class="
                        block
                        h-8
                        px-4
                        text-white
                        transition-colors
                        duration-150
                        bg-green-600
                        rounded-full
                        focus:shadow-outline
                        hover:bg-green-700
                      "
                    >
                      Assign
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Table -->
  <h2 class="pt-12 py-3 flex text-xl font-bold items-center sm:px-6 lg:px-8">
    Enrolled Students
  </h2>
  <div class="flex flex-col overflow-hidden">
    <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8 sm:px-6 lg:px-8">
      <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
        <div
          class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg"
        >
          <table class="min-w-full divide-y divide-gray-200">
            <thead class="bg-gray-50">
              <tr>
                <th
                  scope="col"
                  class="
                    px-6
                    py-3
                    text-left text-xs
                    font-medium
                    text-gray-500
                    uppercase
                    tracking-wider
                  "
                >
                  Email Address
                </th>
                <th
                  scope="col"
                  class="
                    px-6
                    py-3
                    text-left text-xs
                    font-medium
                    text-gray-500
                    uppercase
                    tracking-wider
                  "
                >
                  Section
                </th>

                <th
                  scope="col"
                  class="
                    px-6
                    py-3
                    text-left text-xs
                    font-medium
                    text-gray-500
                    uppercase
                    tracking-wider
                  "
                  *ngIf="!user.admin.sectionId"
                >
                  Department
                </th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Status</th>
                <th scope="col" class="px-6 py-3 text-center text-xs font-medium text-gray-500 uppercase tracking-wider">Action</th>
                <th *ngIf="user.admin.authId === 2" scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Action</th>
              </tr>
            </thead>
            <!-- Person 1 -->
            <tbody
              class="bg-white divide-y divide-gray-200"
              *ngIf="user.admin.authId === 2"
            >
              <tr
                *ngFor="
                  let student of Students
                    | paginate: { itemsPerPage: 10, currentPage: p }
                "
              >
                <td class="px-2 py-4 whitespace-nowrap">
                  <div class="flex items-center">
                    <div class="ml-4">
                      <div class="text-sm text-gray-500">
                        {{ student.account.email.toLowerCase() }}
                      </div>
                    </div>
                  </div>
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                  {{ student.section.name }}
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                  {{ student.program.name }}
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                  {{ student.withEndorsement?'With Endorsement Request':'Without Endorsement Request'}}
                </td>
                <td class="px-3 py-4 whitespace-nowrap text-right text-sm font-medium">
                  <button
                  class="block h-8 px-4 text-black transition-colors duration-150 bg-gray-200 rounded-full focus:shadow-outline hover:bg-gray-300"
                  (click)="toUpdate(student)">Update</button></td>
                <td
                  class="
                    px-3
                    py-4
                    whitespace-nowrap
                    text-right text-sm
                    font-medium
                  "
                >
                  <button
                    class="
                      block
                      h-8
                      px-4
                      text-black
                      transition-colors
                      duration-150
                      bg-gray-200
                      rounded-full
                      focus:shadow-outline
                      hover:bg-gray-300
                    "
                    (click)="toDeleteStudent(student.account.id)"
                  >
                    Delete
                  </button>
                </td>
              </tr>
            </tbody>
            <tbody
              class="bg-white divide-y divide-gray-200"
              *ngIf="user.admin.authId === 3"
            >
              <tr
                *ngFor="
                  let students of Students
                    | paginate: { itemsPerPage: 10, currentPage: p }
                "
              >
                <td class="px-2 py-4 whitespace-nowrap">
                  <div class="flex items-center">
                    <div class="ml-4">
                      <div class="text-sm text-gray-500">
                        {{ students.account.email.toLowerCase() }}
                      </div>
                    </div>
                  </div>
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                  {{ students.section.name }}
                </td>
                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                  {{ students.withEndorsement?'With Endorsement Request':'Without Endorsement Request'}}
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium"><button
                    class="block h-8 px-4 text-black transition-colors duration-150 bg-gray-200 rounded-full focus:shadow-outline hover:bg-gray-300"
                    (click)="toDeleteStudent(students.account.id)">Delete</button></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <!-- Pagination -->
  <div
    class="
      bg-white
      px-4
      py-3
      flex
      items-center
      justify-between
      border-gray-200
      sm:px-6
      lg:px-8
    "
  >
    <div class="flex-1 flex justify-between sm:hidden">
      <a
        href="#"
        class="
          relative
          inline-flex
          items-center
          px-4
          py-2
          border border-gray-300
          text-sm
          font-medium
          rounded-md
          text-gray-700
          bg-white
          hover:bg-gray-50
        "
      >
        Previous
      </a>
      <a
        href="#"
        class="
          ml-3
          relative
          inline-flex
          items-center
          px-4
          py-2
          border border-gray-300
          text-sm
          font-medium
          rounded-md
          text-gray-700
          bg-white
          hover:bg-gray-50
        "
      >
        Next
      </a>
    </div>
    <div class="hidden sm:flex-1 sm:flex sm:items-center sm:justify-between">
      <div>

               <p class="text-sm text-gray-700">
        Showing
        <span class="font-medium">{{(10*(p-1))+1}}</span>
        to
        <span class="font-medium">{{10*p}}</span>
        of
        <span class="font-medium">{{ Students.length }}</span>
        results
      </p>
      </div>
    </div>
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>
</div>

<!-- This is the UpdateIndicator -->
<div
  *ngIf="UpdateIndicator"
  class="fixed z-10 inset-0 overflow-y-auto"
  aria-labelledby="modal-title"
  role="dialog"
  aria-modal="true"

>
  <form [formGroup]="">
    <div
      class="
        flex
        items-end
        justify-center
        min-h-screen
        pt-4
        px-4
        pb-20
        text-center
        sm:block sm:p-0
      "
    >
      <!--
        Background overlay, show/hide based on modal state.
        Entering: "ease-out duration-300"
          From: "opacity-0"
          To: "opacity-100"
        Leaving: "ease-in duration-200"
          From: "opacity-100"
          To: "opacity-0"
      -->
      <div
        class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"
        aria-hidden="true"
      ></div>

      <!-- This element is to trick the browser into centering the modal contents. -->
      <span
        class="hidden sm:inline-block sm:align-middle sm:h-screen"
        aria-hidden="true"
        >&#8203;</span
      >

      <!--
        Modal panel, show/hide based on modal state.
        Entering: "ease-out duration-300"
          From: "opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
          To: "opacity-100 translate-y-0 sm:scale-100"
        Leaving: "ease-in duration-200"
          From: "opacity-100 translate-y-0 sm:scale-100"
          To: "opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
      -->
      <div
      class=" inline-block align-bottom bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all
      sm:my-8 sm:align-middle sm:max-w-lg sm:w-full "
      >
        <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
          <div class="mt-3 sm:mt-0 sm:ml-4 sm:text-left">
            <h3
              class="text-2xl leading-6 font-bold text-gray-900"
              id="modal-title"
            >
              Update Student
            </h3>
            <div class="mt-6">
              <div class="mt-4">
                <label for="email-address" class="text-base">Email</label>
                <p class="text-base font-normal lowercase text-gray-700">{{selectedUpdate.account.email}} <span class="uppercase">({{selectedUpdate.section.name}})</span></p>
              </div>
              <div class="mt-4">
                <label for="email-address" class="text-base">Change Section</label>
                <select name="programId" [(ngModel)]="selectedSection" [ngModelOptions]="{standalone: true}" class=" mt-1
                focus:ring-green-500 focus:border-green-500 block w-full shadow-sm sm:text-sm border-gray-300
                rounded-md mb-6">
                <option *ngFor="let section of filteredSectionList" [ngValue]="section">{{section.name}}</option>
                </select>
              </div>
            </div>
            </div>
          <div class="pt-6 sm:flex sm:flex-row-reverse">
            <button
              *ngIf="originalButtonU"
              type="submit"
              (click)="onUpdate()"
              class="
              w-full inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-green-600
              text-base font-medium text-white hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-offset-2
              focus:ring-green-500 sm:ml-3 sm:w-auto sm:text-sm">
              Update
            </button>
            <button *ngIf="loadingButtonU" disabled class="w-full inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-green-600 text-base font-medium text-white hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500 sm:ml-3 sm:w-auto sm:text-sm disabled:cursor-not-allowed">
              <svg width="20" height="20" fill="currentColor" class="mr-2 animate-spin" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
                <path d="M526 1394q0 53-37.5 90.5t-90.5 37.5q-52 0-90-38t-38-90q0-53 37.5-90.5t90.5-37.5 90.5 37.5 37.5 90.5zm498 206q0 53-37.5 90.5t-90.5 37.5-90.5-37.5-37.5-90.5 37.5-90.5 90.5-37.5 90.5 37.5 37.5 90.5zm-704-704q0 53-37.5 90.5t-90.5 37.5-90.5-37.5-37.5-90.5 37.5-90.5 90.5-37.5 90.5 37.5 37.5 90.5zm1202 498q0 52-38 90t-90 38q-53 0-90.5-37.5t-37.5-90.5 37.5-90.5 90.5-37.5 90.5 37.5 37.5 90.5zm-964-996q0 66-47 113t-113 47-113-47-47-113 47-113 113-47 113 47 47 113zm1170 498q0 53-37.5 90.5t-90.5 37.5-90.5-37.5-37.5-90.5 37.5-90.5 90.5-37.5 90.5 37.5 37.5 90.5zm-640-704q0 80-56 136t-136 56-136-56-56-136 56-136 136-56 136 56 56 136zm530 206q0 93-66 158.5t-158 65.5q-93 0-158.5-65.5t-65.5-158.5q0-92 65.5-158t158.5-66q92 0 158 66t66 158z">
                </path>
              </svg>
              Updating...
            </button>
            <button
              (click)="toCancelOne()"
              type="button"
              class="
              mt-3 w-full inline-flex justify-center rounded-md border border-gray-300 shadow-sm px-4 py-2
              bg-white text-base font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2
              focus:ring-offset-2 focus:ring-green-500 sm:mt-0 sm:ml-3 sm:w-auto sm:text-sm">
              Cancel
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>

<!-- This is the DeleteIndicator -->
<div
  class="fixed z-10 inset-0 overflow-y-auto"
  aria-labelledby="modal-title"
  role="dialog"
  aria-modal="true"
  *ngIf="DeleteIndicator"
>
  <div
    class="
      flex
      items-end
      justify-center
      min-h-screen
      pt-4
      px-4
      pb-20
      text-center
      sm:block sm:p-0
    "
  >
    <!--
      Background overlay, show/hide based on modal state.

      Entering: "ease-out duration-300"
        From: "opacity-0"
        To: "opacity-100"
      Leaving: "ease-in duration-200"
        From: "opacity-100"
        To: "opacity-0"
    -->
    <div
      class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"
      aria-hidden="true"
    ></div>

    <!-- This element is to trick the browser into centering the modal contents. -->
    <span
      class="hidden sm:inline-block sm:align-middle sm:h-screen"
      aria-hidden="true"
      >&#8203;</span
    >

    <!--
      Modal panel, show/hide based on modal state.

      Entering: "ease-out duration-300"
        From: "opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
        To: "opacity-100 translate-y-0 sm:scale-100"
      Leaving: "ease-in duration-200"
        From: "opacity-100 translate-y-0 sm:scale-100"
        To: "opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
    -->
    <div
      class="
        inline-block
        align-bottom
        bg-white
        rounded-lg
        text-left
        overflow-hidden
        shadow-xl
        transform
        transition-all
        sm:my-8 sm:align-middle sm:max-w-lg sm:w-full
      "
    >
      <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
        <div class="sm:flex sm:items-start">
          <div
            class="
              mx-auto
              flex-shrink-0 flex
              items-center
              justify-center
              h-12
              w-12
              rounded-full
              bg-gray-100
              sm:mx-0 sm:h-10 sm:w-10
            "
          >
            <!-- Heroicon name: outline/exclamation -->
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-6 w-6"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M12 8v4m0 4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
              />
            </svg>
          </div>
          <div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left">
            <h3
              class="mt-2 text-lg leading-6 font-medium text-gray-900"
              id="modal-title"
            >
              Are you sure you want to delete this account?
            </h3>
            <div class="mt-2"></div>
          </div>
        </div>
      </div>
      <div class="bg-gray-50 px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse">
        <button
          *ngIf="originalButtonD"
          (click)="deleteStudent()"
          type="button"
          class="
            w-full
            inline-flex
            justify-center
            rounded-md
            border border-transparent
            shadow-sm
            px-4
            py-2
            bg-green-600
            text-base
            font-medium
            text-white
            hover:bg-green-700
            focus:outline-none
            focus:ring-2
            focus:ring-offset-2
            focus:ring-green-500
            sm:ml-3 sm:w-auto sm:text-sm
          "
        >
          Delete
        </button>
        <button *ngIf="loadingButtonD" disabled class="w-full inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-green-600 text-base font-medium text-white hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500 sm:ml-3 sm:w-auto sm:text-sm disabled:cursor-not-allowed">
          <svg width="20" height="20" fill="currentColor" class="mr-2 animate-spin" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
            <path d="M526 1394q0 53-37.5 90.5t-90.5 37.5q-52 0-90-38t-38-90q0-53 37.5-90.5t90.5-37.5 90.5 37.5 37.5 90.5zm498 206q0 53-37.5 90.5t-90.5 37.5-90.5-37.5-37.5-90.5 37.5-90.5 90.5-37.5 90.5 37.5 37.5 90.5zm-704-704q0 53-37.5 90.5t-90.5 37.5-90.5-37.5-37.5-90.5 37.5-90.5 90.5-37.5 90.5 37.5 37.5 90.5zm1202 498q0 52-38 90t-90 38q-53 0-90.5-37.5t-37.5-90.5 37.5-90.5 90.5-37.5 90.5 37.5 37.5 90.5zm-964-996q0 66-47 113t-113 47-113-47-47-113 47-113 113-47 113 47 47 113zm1170 498q0 53-37.5 90.5t-90.5 37.5-90.5-37.5-37.5-90.5 37.5-90.5 90.5-37.5 90.5 37.5 37.5 90.5zm-640-704q0 80-56 136t-136 56-136-56-56-136 56-136 136-56 136 56 56 136zm530 206q0 93-66 158.5t-158 65.5q-93 0-158.5-65.5t-65.5-158.5q0-92 65.5-158t158.5-66q92 0 158 66t66 158z">
            </path>
          </svg>
          Deleting...
        </button>
        <button
          type="button"
          class="
            mt-3
            w-full
            inline-flex
            justify-center
            rounded-md
            border border-gray-300
            shadow-sm
            px-4
            py-2
            bg-white
            text-base
            font-medium
            text-gray-700
            hover:bg-gray-50
            focus:outline-none
            focus:ring-2
            focus:ring-offset-2
            focus:ring-green-500
            sm:mt-0 sm:ml-3 sm:w-auto sm:text-sm
          "
          (click)="toCancel()"
        >
          Cancel
        </button>
      </div>
    </div>
  </div>
</div>

<!--modal content-->
<div
  class="
    fixed
    z-10
    inset-0
    mx-auto
    p-8
    border
    mt-12
    w-96
    h-72
    shadow-lg
    rounded-md
    bg-white
  "
  *ngIf="modalAppear"
>
  <div class="text-center">
    <div
      class="mx-auto flex items-center justify-center h-40 w-40 rounded-full"
    >
      <video autoplay loop
        src="https://res.cloudinary.com/daljbo1q0/video/upload/v1634975066/Landing/75011-3d-mail_sgqufu.mp4"></video>
    </div>
    <h3 class="pt-4 text-xl leading-6 font-semibold text-gray-900">
      Enrolling student...
    </h3>
  </div>
</div>

<!--Overlay Effect-->


<!-- Batch upload modal -->
<div
  class="fixed z-10 inset-0 mx-auto p-8 border mt-12 w-3/5 h-4/5 overflow-y-auto shadow-lg rounded-md bg-white" *ngIf="BatchUpload">
  <button type="button" class="bg-white rounded-md absolute mt-2 mr-2 p-2 top-0 right-0 text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-green-500" (click)="closeBatch()">
    <span class="sr-only">Close menu</span>
    <!-- Heroicon name: outline/x -->
    <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
    </svg>
  </button>
  <h1 class="text-xl font-semibold">Batch Upload</h1>
  <p class="text-base text-gray-600 font-normal">Here, you will see the data inputted in the file you uploaded.</p>
<!-- Cards -->
<div class="flex flex-row py-8 rounded-t">
      <div>
        <label class="block text-sm font-medium text-gray-700">Upload a file</label>
        <input type="file" class="mt-1 py-2" accept=".csv" #csvReader name="Upload CSV" id="txtFileUpload" (change)="uploadListener($event)" />
      </div>
      <div>
        <label class="block text-sm font-medium text-gray-700">Assign a section</label>
        <select name=""
        [(ngModel)]="selectedSectionBatch"
        [ngModelOptions]="{standalone: true}"
          class="mt-1 max-w-md w-28 py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-green-500 focus:border-green-500 sm:text-sm">
          <option *ngFor="let section of Section"
          [ngValue]="section" >{{ section.name }}</option>
        </select>
      </div>
</div>
<!-- Table -->
<!-- This example requires Tailwind CSS v2.0+ -->
<div class="flex flex-col">
  <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
    <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
      <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
        <table class="min-w-full divide-y divide-gray-200">
          <thead class="bg-gray-50">
            <tr>
              <th scope="col" class="max-w-md w-4 px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                #
              </th>
              <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                EMAIL
              </th>
            </tr>
          </thead>
          <tbody class="bg-white divide-y divide-gray-200">
            <tr *ngFor="let csv of csvArr; let i = index">
              <td class="px-6 py-4 whitespace-nowrap">
                <div class="flex items-center">
                    <div class="text-sm text-gray-500">
                     {{i+1}}
                  </div>
                </div>
              </td>
              <td class="px-6 py-4 whitespace-nowrap">
                <div class="flex items-center">
                    <div class="text-sm text-gray-500">
                      {{csv.email}}
                  </div>
                </div>
              </td>
            </tr>

            <!-- More people... -->
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="mt-12 text-right">
  <button  *ngIf="originalButton"  [disabled]="!selectedSectionBatch || !csvReader " (click)="onBatchUpload()" class="w-full inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-green-600 text-base font-medium text-white hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500 sm:ml-3 sm:w-auto sm:text-sm disabled:cursor-not-allowed">
    Enroll
  </button>
  <button *ngIf="loadingButton" disabled class="w-full inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-green-600 text-base font-medium text-white hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500 sm:ml-3 sm:w-auto sm:text-sm disabled:cursor-not-allowed">
    <svg width="20" height="20" fill="currentColor" class="mr-2 animate-spin" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
      <path d="M526 1394q0 53-37.5 90.5t-90.5 37.5q-52 0-90-38t-38-90q0-53 37.5-90.5t90.5-37.5 90.5 37.5 37.5 90.5zm498 206q0 53-37.5 90.5t-90.5 37.5-90.5-37.5-37.5-90.5 37.5-90.5 90.5-37.5 90.5 37.5 37.5 90.5zm-704-704q0 53-37.5 90.5t-90.5 37.5-90.5-37.5-37.5-90.5 37.5-90.5 90.5-37.5 90.5 37.5 37.5 90.5zm1202 498q0 52-38 90t-90 38q-53 0-90.5-37.5t-37.5-90.5 37.5-90.5 90.5-37.5 90.5 37.5 37.5 90.5zm-964-996q0 66-47 113t-113 47-113-47-47-113 47-113 113-47 113 47 47 113zm1170 498q0 53-37.5 90.5t-90.5 37.5-90.5-37.5-37.5-90.5 37.5-90.5 90.5-37.5 90.5 37.5 37.5 90.5zm-640-704q0 80-56 136t-136 56-136-56-56-136 56-136 136-56 136 56 56 136zm530 206q0 93-66 158.5t-158 65.5q-93 0-158.5-65.5t-65.5-158.5q0-92 65.5-158t158.5-66q92 0 158 66t66 158z">
      </path>
    </svg>
    Adding students..
  </button></div>

</div>
<!-- Dim bg -->
<!-- <div *ngIf="BatchUpload" class="fixed inset-0 hidden overflow-hidden bg-gray-600 bg-opacity-50 overflow-y-auto h-full w-full"></div> -->
<div
  class="
    fixed
    inset-0
    overflow-hidden
    bg-gray-600 bg-opacity-50
    overflow-y-auto
    h-full
    w-full
  "
  *ngIf="modalAppear||BatchUpload"
></div>
