<div class="pt-6 sm:px-6 lg:px-8 pb-10">
  <div>
    <h1
      class="inline-block text-3xl font-extrabold text-gray-900 tracking-tight"
    >
      Finalize submissions
    </h1>
  </div>
  <p class="mt-1 text-lg text-gray-500">
    This is a list of latest transactions.
  </p>
</div>

<!-- This example requires Tailwind CSS v2.0+
     Table -->
<div class="flex flex-col">
  <div
    class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8"
    *ngIf="!stampFileName"
  >
    <div class="flex flex-col">
      <div
        #errContainer
        class="
          bg-red-100
          border border-red-400
          text-red-700
          px-4
          py-3
          rounded
          relative
        "
        role="alert"
        style="margin-bottom: 10px; margin-top: 10px"
      >
        <div class="flex">
          <div class="py-1">
            <svg
              class="fill-current h-6 w-6 text-teal-500 mr-4"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
            >
              <path
                d="M2.93 17.07A10 10 0 1 1 17.07 2.93 10 10 0 0 1 2.93 17.07zm12.73-1.41A8 8 0 1 0 4.34 4.34a8 8 0 0 0 11.32 11.32zM9 11V9h2v6H9v-4zm0-6h2v2H9V5z"
              />
            </svg>
          </div>
          <div>
            <p class="font-bold">No Attached esignature</p>
            <p class="text-sm">
              Make sure you have an attached esignature before signing.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8 sm:px-6 lg:px-8">
    <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
      <div
        class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg"
      >
        <table class="min-w-full divide-y divide-gray-200">
          <thead class="bg-gray-50">
            <tr>
              <th
                scope="col"
                class="
                  px-6
                  py-3
                  text-left text-xs
                  font-medium
                  text-gray-500
                  uppercase
                  tracking-wider
                "
              >
                Name
              </th>
              <th
                scope="col"
                class="
                  px-6
                  py-3
                  text-left text-xs
                  font-medium
                  text-gray-500
                  uppercase
                  tracking-wider
                "
              >
                Company Name
              </th>
              <th
                scope="col"
                class="
                  px-6
                  py-3
                  text-left text-xs
                  font-medium
                  text-gray-500
                  uppercase
                  tracking-wider
                "
              >
                HR Email
              </th>
              <th
                scope="col"
                class="
                  px-6
                  py-3
                  text-left text-xs
                  font-medium
                  text-gray-500
                  uppercase
                  tracking-wider
                "
              >
                Job Description
              </th>
              <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Action</th>
              <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"></th>
            </tr>
          </thead>
          <!-- Person 1 -->
          <tbody
            class="bg-white divide-y divide-gray-200"
            *ngIf="user.admin.authId == 2"
          >
            <tr
              *ngFor="
                let eachS of Submissions
                  | paginate: { itemsPerPage: 10, currentPage: p }
              "
            >
              <td class="px-2 py-4 whitespace-nowrap">
                <div class="flex items-center">
                  <div class="ml-4">
                    <div class="text-sm font-medium text-gray-900">
                      {{
                        eachS.lastName +
                          " " +
                          eachS.firstName +
                          " " +
                          eachS.middleInitial
                      }}
                    </div>
                    <div class="text-sm text-gray-500">
                      <!-- {{eachS.lastName+' '+eachS.firstName+' '+eachS.middleInitial}} -->
                      <!-- for email address -->
                    </div>
                    <!-- View full submission -->
                  <a class="text-green-700 hover:text-green-800 hover:underline cursor-pointer" (click)="toOpen(eachS)">View submission</a>
                  </div>
                </div>
              </td>
              <td class="px-6 py-4 whitespace-nowrap">
                <div class="text-sm text-gray-900">
                  {{ eachS.company.name }}
                </div>
              </td>
              <td class="px-6 py-4 whitespace-nowrap">
                <div class="text-sm text-gray-500">
                  {{ eachS.company.name }}
                </div>
              </td>
              <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                {{ eachS.jobDescription }}
              </td>
              <td
                class="
                  px-6
                  py-4
                  whitespace-nowrap
                  text-right text-sm
                  font-medium
                "
              >
                <button
                  class="
                    h-8
                    px-4
                    text-white
                    transition-colors
                    duration-150
                    bg-green-600
                    rounded-full
                    focus:shadow-outline
                    hover:bg-green-700
                  "
                  (click)="decision(eachS.adminResponse.id, true, '')"
                >
                  Approve
                </button>
              </td>
              <td
                class="
                  px-6
                  py-4
                  whitespace-nowrap
                  text-right text-sm
                  font-medium
                "
              >
                <button
                  class="
                    h-8
                    px-4
                    text-black
                    transition-colors
                    duration-150
                    bg-gray-200
                    rounded-full
                    focus:shadow-outline
                    hover:bg-gray-300
                  "
                  (click)="toDisapproveChair(eachS.adminResponse.id)"
                >
                  Disapprove
                </button>
              </td>
            </tr>

            <!-- More people... -->
          </tbody>

          <tbody
            class="bg-white divide-y divide-gray-200"
            *ngIf="user.admin.authId == 1"
          >
            <tr *ngFor="let eachS of deanSubmissions">
              <td class="px-2 py-4 whitespace-nowrap">
                <div class="flex items-center">
                  <div class="ml-4">
                    <div class="text-sm font-medium text-gray-900">
                      {{
                        eachS.lastName +
                          " " +
                          eachS.firstName +
                          " " +
                          eachS.middleInitial
                      }}
                    </div>
                    <div class="text-sm text-gray-500">
                      <!-- {{eachS.lastName+' '+eachS.firstName+' '+eachS.middleInitial}} -->
                      <!-- for email address -->
                    </div>
                    <!-- View full submission -->
                    <a class="text-green-700 hover:text-green-800 hover:underline cursor-pointer" (click)="toOpen(eachS)">View submission</a>
                  </div>
                </div>
              </td>
              <td class="px-6 py-4 whitespace-nowrap">
                <div class="text-sm text-gray-900">
                  {{ eachS.company.name }}
                </div>
              </td>
              <td class="px-6 py-4 whitespace-nowrap">
                <div class="text-sm text-gray-500">
                  {{ eachS.company.name }}
                </div>
              </td>
              <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                {{ eachS.jobDescription }}
              </td>
              <td
                class="
                  px-6
                  py-4
                  whitespace-nowrap
                  text-right text-sm
                  font-medium
                "
              >
                <button
                  class="
                    h-8
                    px-4
                    text-white
                    transition-colors
                    duration-150
                    bg-green-600
                    rounded-full
                    focus:shadow-outline
                    hover:bg-green-700
                  "
                  (click)="deanDecision(eachS.adminResponse.id, true, '')"
                >
                  Approve
                </button>
              </td>
              <td
                class="
                  px-6
                  py-4
                  whitespace-nowrap
                  text-right text-sm
                  font-medium
                "
              >
                <button
                  class="
                    h-8
                    px-4
                    text-black
                    transition-colors
                    duration-150
                    bg-gray-200
                    rounded-full
                    focus:shadow-outline
                    hover:bg-gray-300
                  "
                  (click)="toDisapproveDean(eachS.adminResponse.id)"
                >
                  Disapprove
                </button>
              </td>
            </tr>

            <!-- More people... -->
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<!-- This example requires Tailwind CSS v2.0+
     Pagination -->
<div
  class="
    bg-white
    px-4
    py-3
    flex
    items-center
    justify-between
    border-gray-200
    sm:px-6
    lg:px-8
  "
>
  <div class="flex-1 flex justify-between sm:hidden">
    <a
      href="#"
      class="
        relative
        inline-flex
        items-center
        px-4
        py-2
        border border-gray-300
        text-sm
        font-medium
        rounded-md
        text-gray-700
        bg-white
        hover:bg-gray-50
      "
    >
      Previous
    </a>
    <a
      href="#"
      class="
        ml-3
        relative
        inline-flex
        items-center
        px-4
        py-2
        border border-gray-300
        text-sm
        font-medium
        rounded-md
        text-gray-700
        bg-white
        hover:bg-gray-50
      "
    >
      Next
    </a>
  </div>
  <div class="hidden sm:flex-1 sm:flex sm:items-center sm:justify-between">
    <div>
      <p class="text-sm text-gray-700">
        Showing
        <span class="font-medium">1</span>
        to
        <span class="font-medium">10</span>
        of
        <span class="font-medium">{{ deanSubmissions.length }}</span>
        results
      </p>
    </div>
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>
</div>

<!-- This is the ApproveIndicatorDean -->
<div
  class="fixed z-10 inset-0 overflow-y-auto"
  aria-labelledby="modal-title"
  role="dialog"
  aria-modal="true"
  *ngIf="ApproveIndicatorDean"
>
  <div
    class="
      flex
      items-end
      justify-center
      min-h-screen
      pt-4
      px-4
      pb-20
      text-center
      sm:block sm:p-0
    "
  >
    <!--
      Background overlay, show/hide based on modal state.

      Entering: "ease-out duration-300"
        From: "opacity-0"
        To: "opacity-100"
      Leaving: "ease-in duration-200"
        From: "opacity-100"
        To: "opacity-0"
    -->
    <div
      class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"
      aria-hidden="true"
    ></div>

    <!-- This element is to trick the browser into centering the modal contents. -->
    <span
      class="hidden sm:inline-block sm:align-middle sm:h-screen"
      aria-hidden="true"
      >&#8203;</span
    >

    <!--
      Modal panel, show/hide based on modal state.

      Entering: "ease-out duration-300"
        From: "opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
        To: "opacity-100 translate-y-0 sm:scale-100"
      Leaving: "ease-in duration-200"
        From: "opacity-100 translate-y-0 sm:scale-100"
        To: "opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
    -->
    <div
      class="
        inline-block
        align-bottom
        bg-white
        rounded-lg
        text-left
        overflow-hidden
        shadow-xl
        transform
        transition-all
        sm:my-8 sm:align-middle sm:max-w-lg sm:w-full
      "
    >
      <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
        <div class="sm:flex sm:items-start">
          <div
            class="
              mx-auto
              flex-shrink-0 flex
              items-center
              justify-center
              h-12
              w-12
              rounded-full
              bg-gray-100
              sm:mx-0 sm:h-10 sm:w-10
            "
          >
            <!-- Heroicon name: outline/exclamation -->
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-6 w-6"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M12 8v4m0 4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
              />
            </svg>
          </div>
          <div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left">
            <h3
              class="text-lg leading-6 font-medium text-gray-900"
              id="modal-title"
            >
              Confirm your approval
            </h3>
            <div class="mt-2">
              <p class="text-sm text-gray-500">
                If you approve this entry, your e-signature will be stamped on
                the generated PDF of the endorsement letter. This will also be
                sent to the Practicum Coordinator.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="bg-gray-50 px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse">
        <button
          type="button"
          class="
            w-full
            inline-flex
            justify-center
            rounded-md
            border border-transparent
            shadow-sm
            px-4
            py-2
            bg-green-600
            text-base
            font-medium
            text-white
            hover:bg-green-700
            focus:outline-none
            focus:ring-2
            focus:ring-offset-2
            focus:ring-green-500
            sm:ml-3 sm:w-auto sm:text-sm
          "
        >
          Approve
        </button>
        <button
          type="button"
          class="
            mt-3
            w-full
            inline-flex
            justify-center
            rounded-md
            border border-gray-300
            shadow-sm
            px-4
            py-2
            bg-white
            text-base
            font-medium
            text-gray-700
            hover:bg-gray-50
            focus:outline-none
            focus:ring-2
            focus:ring-offset-2
            focus:ring-green-500
            sm:mt-0 sm:ml-3 sm:w-auto sm:text-sm
          "
          (click)="toCancelAD()"
        >
          Cancel
        </button>
      </div>
    </div>
  </div>
</div>

<div
  class="fixed z-10 inset-0 overflow-y-auto"
  aria-labelledby="modal-title"
  role="dialog"
  aria-modal="true"
  *ngIf="DisapproveIndicatorChair"
>
  <div
    class="
      flex
      items-end
      justify-center
      min-h-screen
      pt-4
      px-4
      pb-20
      text-center
      sm:block sm:p-0
    "
  >
    <!--
      Background overlay, show/hide based on modal state.
      Entering: "ease-out duration-300"
        From: "opacity-0"
        To: "opacity-100"
      Leaving: "ease-in duration-200"
        From: "opacity-100"
        To: "opacity-0"
    -->
    <div
      class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"
      aria-hidden="true"
    ></div>

    <!-- This element is to trick the browser into centering the modal contents. -->
    <span
      class="hidden sm:inline-block sm:align-middle sm:h-screen"
      aria-hidden="true"
      >&#8203;</span
    >

    <!--
      Modal panel, show/hide based on modal state.
      Entering: "ease-out duration-300"
        From: "opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
        To: "opacity-100 translate-y-0 sm:scale-100"
      Leaving: "ease-in duration-200"
        From: "opacity-100 translate-y-0 sm:scale-100"
        To: "opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
    -->
    <div
      class="
        inline-block
        align-bottom
        bg-white
        rounded-lg
        text-left
        overflow-hidden
        shadow-xl
        transform
        transition-all
        sm:my-8 sm:align-middle sm:max-w-lg sm:w-full
      "
    >
      <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
        <div class="sm:flex sm:items-start">
          <div
            class="
              mx-auto
              flex-shrink-0 flex
              items-center
              justify-center
              h-12
              w-12
              rounded-full
              bg-gray-100
              sm:mx-0 sm:h-10 sm:w-10
            "
          >
            <!-- Heroicon name: outline/exclamation -->
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-6 w-6"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M12 8v4m0 4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
              />
            </svg>
          </div>
          <form [formGroup]="RejectForm" (ngSubmit)="rejectedSubmitChair()">
            <div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left">
              <h3
                class="text-lg leading-6 font-medium text-gray-900"
                id="modal-title"
              >
                Provide Feedback
              </h3>
              <div class="mt-2">
                <p class="text-sm text-gray-500">
                  Please indicate the reason as to why the endorsement was
                  rejected in the textbox below.
                </p>
                <div class="mt-4 col-span-6">
                  <label
                    for="street-address"
                    class="block text-sm font-medium text-gray-700"
                    >Description</label
                  >
                  <textarea
                    type="text"
                    name="street-address"
                    id="street-address"
                    placeholder="Lorem Ipsum Dolor sit amet"
                    formControlName="comments"
                    class="
                      mt-1
                      focus:ring-green-500 focus:border-green-500
                      block
                      w-full
                      shadow-sm
                      sm:text-sm
                      border-gray-300
                      rounded-md
                    "
                    rows="4"
                  ></textarea>
                </div>
                <div style="display: none">
                  <input type="text" formControlName="acceptedByChair" />
                </div>
              </div>
            </div>
            <div
              class="bg-gray-50 px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse"
            >
              <button
                type="submit"
                class="
                  w-full
                  inline-flex
                  justify-center
                  rounded-md
                  border border-transparent
                  shadow-sm
                  px-4
                  py-2
                  bg-green-600
                  text-base
                  font-medium
                  text-white
                  hover:bg-green-700
                  focus:outline-none
                  focus:ring-2
                  focus:ring-offset-2
                  focus:ring-green-500
                  sm:ml-3 sm:w-auto sm:text-sm
                "
              >
                Send
              </button>
              <button
                type="button"
                class="
                  mt-3
                  w-full
                  inline-flex
                  justify-center
                  rounded-md
                  border border-gray-300
                  shadow-sm
                  px-4
                  py-2
                  bg-white
                  text-base
                  font-medium
                  text-gray-700
                  hover:bg-gray-50
                  focus:outline-none
                  focus:ring-2
                  focus:ring-offset-2
                  focus:ring-green-500
                  sm:mt-0 sm:ml-3 sm:w-auto sm:text-sm
                "
                (click)="toCancelChair()"
              >
                Cancel
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  class="fixed z-10 inset-0 overflow-y-auto"
  aria-labelledby="modal-title"
  role="dialog"
  aria-modal="true"
  *ngIf="DisapproveIndicatorDean"
>
  <div
    class="
      flex
      items-end
      justify-center
      min-h-screen
      pt-4
      px-4
      pb-20
      text-center
      sm:block sm:p-0
    "
  >
    <!--
        Background overlay, show/hide based on modal state.
        Entering: "ease-out duration-300"
          From: "opacity-0"
          To: "opacity-100"
        Leaving: "ease-in duration-200"
          From: "opacity-100"
          To: "opacity-0"
      -->
    <div
      class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"
      aria-hidden="true"
    ></div>

    <!-- This element is to trick the browser into centering the modal contents. -->
    <span
      class="hidden sm:inline-block sm:align-middle sm:h-screen"
      aria-hidden="true"
      >&#8203;</span
    >

    <!--
        Modal panel, show/hide based on modal state.
        Entering: "ease-out duration-300"
          From: "opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
          To: "opacity-100 translate-y-0 sm:scale-100"
        Leaving: "ease-in duration-200"
          From: "opacity-100 translate-y-0 sm:scale-100"
          To: "opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
      -->
    <div
      class="
        inline-block
        align-bottom
        bg-white
        rounded-lg
        text-left
        overflow-hidden
        shadow-xl
        transform
        transition-all
        sm:my-8 sm:align-middle sm:max-w-lg sm:w-full
      "
    >
      <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
        <div class="sm:flex sm:items-start">
          <div
            class="
              mx-auto
              flex-shrink-0 flex
              items-center
              justify-center
              h-12
              w-12
              rounded-full
              bg-gray-100
              sm:mx-0 sm:h-10 sm:w-10
            "
          >
            <!-- Heroicon name: outline/exclamation -->
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-6 w-6"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M12 8v4m0 4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
              />
            </svg>
          </div>
          <form [formGroup]="RejectForm" (ngSubmit)="rejectedSubmitDean()">
            <div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left">
              <h3
                class="text-lg leading-6 font-medium text-gray-900"
                id="modal-title"
              >
                Provide Feedback
              </h3>
              <div class="mt-2">
                <p class="text-sm text-gray-500">
                  Please indicate the reason as to why the endorsement was
                  rejected in the textbox below.
                </p>
                <div class="mt-4 col-span-6">
                  <label
                    for="street-address"
                    class="block text-sm font-medium text-gray-700"
                    >Description</label
                  >
                  <textarea
                    type="text"
                    name="street-address"
                    id="street-address"
                    placeholder="Lorem Ipsum Dolor sit amet"
                    formControlName="comments"
                    class="
                      mt-1
                      focus:ring-green-500 focus:border-green-500
                      block
                      w-full
                      shadow-sm
                      sm:text-sm
                      border-gray-300
                      rounded-md
                    "
                    rows="4"
                  ></textarea>
                </div>
                <div style="display: none">
                  <input type="text" formControlName="acceptedByDean" />
                </div>
              </div>
            </div>
            <div
              class="bg-gray-50 px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse"
            >
              <button
                type="submit"
                class="
                  w-full
                  inline-flex
                  justify-center
                  rounded-md
                  border border-transparent
                  shadow-sm
                  px-4
                  py-2
                  bg-green-600
                  text-base
                  font-medium
                  text-white
                  hover:bg-green-700
                  focus:outline-none
                  focus:ring-2
                  focus:ring-offset-2
                  focus:ring-green-500
                  sm:ml-3 sm:w-auto sm:text-sm
                "
              >
                Send
              </button>
              <button
                type="button"
                class="
                  mt-3
                  w-full
                  inline-flex
                  justify-center
                  rounded-md
                  border border-gray-300
                  shadow-sm
                  px-4
                  py-2
                  bg-white
                  text-base
                  font-medium
                  text-gray-700
                  hover:bg-gray-50
                  focus:outline-none
                  focus:ring-2
                  focus:ring-offset-2
                  focus:ring-green-500
                  sm:mt-0 sm:ml-3 sm:w-auto sm:text-sm
                "
                (click)="toCancelDean()"
              >
                Cancel
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Generate note on modals:
no conditions on angular set, but all modals are present -->

<!--modal content for genereating PDF-->
<div
  *ngIf="onDeanSubmit"
  class="
    fixed
    z-10
    inset-0
    mx-auto
    p-8
    border
    mt-12
    w-96
    h-72
    shadow-lg
    rounded-md
    bg-white
  "
  id="modalGenerate"
>
  <div class="text-center">
    <!-- Generate PDF -->

    <div
      class="
        fixed
        z-10
        inset-0
        mx-auto
        p-8
        border
        mt-12
        w-96
        h-72
        shadow-lg
        rounded-md
        bg-white
      "
      id="modalGenerate"
    >
      <div class="text-center">
        <!-- Generate PDF -->
        <div
          class="
            mx-auto
            flex
            items-center
            justify-center
            h-40
            w-40
            rounded-full
          "
          *ngIf="loadPhaseOne"
        >
          <img *ngIf="loadPhaseOne"
            src="https://res.cloudinary.com/daljbo1q0/image/upload/v1633844396/Landing/scan_h6bwy7.gif"
          />
        </div>
        <h3
          *ngIf="loadPhaseOne"
          class="pt-4 text-xl leading-6 font-semibold text-gray-900"
        >
          Generating the PDF..
        </h3>
        <!-- Sending to IGAARP -->
        <div
          class="
            mx-auto
            flex
            items-center
            justify-center
            h-40
            w-40
            rounded-full
          "
          *ngIf="loadPhaseTwo"
        >
          <img *ngIf="loadPhaseTwo"
            src="https://res.cloudinary.com/daljbo1q0/image/upload/v1633844110/Landing/send_othtis.gif"
          />
        </div>
        <h3
          *ngIf="loadPhaseTwo"
          class="pt-4 text-xl leading-6 font-semibold text-gray-900"
        >
          Sending to IGAARP coordinator..
        </h3>
        <!-- Sending to Practicum Coordinator -->
        <div
          class="
            mx-auto
            flex
            items-center
            justify-center
            h-40
            w-40
            rounded-full
          "
          *ngIf="loadPhaseThree"
        >
          <img *ngIf="loadPhaseThree"
            src="https://res.cloudinary.com/daljbo1q0/image/upload/v1633844110/Landing/send_othtis.gif"
          />
        </div>
        <h3
          *ngIf="loadPhaseThree"
          class="pt-4 text-xl leading-6 font-semibold text-gray-900"
        >
          Sending to practicum coordinator..
        </h3>
        <!-- Notifying student -->
        <div
          class="
            mx-auto
            flex
            items-center
            justify-center
            h-40
            w-40
            rounded-full
          "
          *ngIf="loadPhaseFour"
        >
          <img *ngIf="loadPhaseFour"
            src="https://res.cloudinary.com/daljbo1q0/image/upload/v1634090673/Landing/mail_eexlbl.gif"
          />
        </div>
        <h3
          *ngIf="loadPhaseFour"
          class="pt-4 text-xl leading-6 font-semibold text-gray-900"
        >
          Notifying student..
        </h3>
      </div>
    </div>

    <!-- <div
      class="mx-auto flex items-center justify-center h-40 w-40 rounded-full"
    >
      <img
        src="https://res.cloudinary.com/daljbo1q0/image/upload/v1633844110/Landing/send_othtis.gif"
      />
    </div>
    <h3 class="pt-4 text-xl leading-6 font-semibold text-gray-900">
      Sending to IGAARP coordinator..
    </h3>

    <div
      class="mx-auto flex items-center justify-center h-40 w-40 rounded-full"
    >
      <img
        src="https://res.cloudinary.com/daljbo1q0/image/upload/v1633844110/Landing/send_othtis.gif"
      />
    </div>
    <h3 class="pt-4 text-xl leading-6 font-semibold text-gray-900">
      Sending to practicum coordinator..
    </h3>

    <div
      class="mx-auto flex items-center justify-center h-40 w-40 rounded-full"
    >
      <img
        src="https://res.cloudinary.com/daljbo1q0/image/upload/v1634090673/Landing/mail_eexlbl.gif"
      />
    </div>
    <h3 class="pt-4 text-xl leading-6 font-semibold text-gray-900">
      Notifying student..
    </h3> -->
  </div>
</div>

<!--Overlay Effect-->
<div
  class="
    hidden
    fixed
    inset-0
    overflow-hidden
    bg-gray-600 bg-opacity-50
    overflow-y-auto
    h-full
    w-full
  "
  id="modalAppear"
  *ngIf="onDeanSubmit"
></div>



<div
  *ngIf="ApproveIndicatorChair"
  class="
    fixed
    z-10
    inset-0
    mx-auto
    p-8
    border
    mt-12
    w-96
    h-72
    shadow-lg
    rounded-md
    bg-white
  "
>
  <div class="text-center">
    <div
      class="mx-auto flex items-center justify-center h-40 w-40 rounded-full"
    >
      <img
        src="https://res.cloudinary.com/daljbo1q0/image/upload/v1634090673/Landing/mail_eexlbl.gif"
      />
    </div>
    <h3 class="pt-4 text-xl leading-6 font-semibold text-gray-900">
      Accepting the entry..
    </h3>
  </div>
</div>

<div
  class="
    fixed
    inset-0
    overflow-hidden
    bg-gray-600 bg-opacity-50
    overflow-y-auto
    h-full
    w-full
  "
  *ngIf="ApproveIndicatorChair"
></div>

<!-- This is the FormEntry -->
<div class="fixed z-10 inset-0 overflow-y-auto" aria-labelledby="modal-title" role="dialog" aria-modal="true" *ngIf="FormEntry">
  <div class="flex items-end justify-center min-h-screen pt-4 pb-24 text-center sm:block sm:p-0">
    <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity" aria-hidden="true"></div>
    <span class="hidden sm:inline-block sm:align-middle sm:h-screen" aria-hidden="true">&#8203;</span>
    <div class="inline-block align-bottom bg-white rounded-lg text-left overflow-hidden shadow-xl transform w-3/6 sm:my-8 sm:align-middle">
      <div class="bg-white pt-5 pb-4 sm:p-12 sm:pb-4">
        <div class="sm:flex sm:items-start">
          <div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left">
            <h3 class="text-2xl text-center leading-6 font-semibold text-gray-900" id="modal-title">
              Endorsement Request Submission
            </h3>
            <div class="mt-6">
                <div class="bg-white">
                  <div class="flex-col">
                    <div class="col-span-2 py-4">
                      <button class="mt-3 w-24 rounded-md bordershadow-sm px-4 py-2
                      bg-green-600 text-base font-medium text-white hover:bg-green-700 focus:ring-2
                      focus:ring-offset-2 focus:ring-green-500 sm:w-auto sm:text-sm" (click)="previewSub(viewEndorsement.id)">
                      Preview Endorsement Letter</button>
                    </div>

                    <div class="col-span-2 py-4">
                      <label for="last-name" class="block text-sm font-medium text-gray-700">Last name</label>
                      <p>{{viewEndorsement.lastName}}</p>
                    </div>

                    <div class="col-span-6 py-4">
                      <label for="given-name" class="block text-sm font-medium text-gray-700">First Name</label>
                      <p>{{viewEndorsement.firstName}}</p>
                    </div>
                    <div class="col-span-6 py-4">
                      <label for="middle-initial" class="block text-sm font-medium text-gray-700">Middle Initial</label>
                      <p>{{viewEndorsement.middleInitial}}</p>
                    </div>

                    <div class="col-span-6 py-4">
                      <label for="specialization" class="block text-sm font-medium text-gray-700">Specialization</label>

                      <p>{{getSpecialization(viewEndorsement.trackId)}}</p>
                    </div>

                    <div class="col-span-6 py-4">
                      <label for="student-number" class="block text-sm font-medium text-gray-700">Student Number</label>
                      <p>{{viewEndorsement.studentNumber}}</p>

                    <div class="col-span-6 py-4">
                      <label for="email-contactperson" class="block text-sm font-medium text-gray-700">Email Address of Contact Person</label>
                      <p>{{viewEndorsement.company.contactPersonEmail}}</p>
                    </div>

                    <div class="col-span-6 py-4">
                      <label for="title-contactperson" class="block text-sm font-medium text-gray-700">Title of Contact Person</label>
                      <p>{{viewEndorsement.contactPersonTitle}}</p>
                    </div>

                    <div class="col-span-6 py-4">
                      <label for="ln-contactperson" class="block text-sm font-medium text-gray-700">Last Name of Contact Person</label>
                      <p>{{viewEndorsement.contactPersonLastName}}</p>
                    </div>

                    <div class="col-span-6 py-4">
                      <label for="fn-contactperson" class="block text-sm font-medium text-gray-700">First Name of Contact Person</label>
                      <p>{{viewEndorsement.contactPersonFirstName}}</p>
                    </div>

                    <div class="col-span-6 py-4">
                      <label for="designation" class="block text-sm font-medium text-gray-700">Official Designation</label>
                      <p>{{viewEndorsement.contactPersonPosition}}</p>
                    </div>

                    <div class="col-span-6 py-4">
                      <label for="company-name" class="block text-sm font-medium text-gray-700">Name of Company/Institution</label>
                      <p>{{viewEndorsement.company.name}}</p>
                    </div>

                    <div class="col-span-6 py-4">
                      <label for="company-address-1" class="block text-sm font-medium text-gray-700">Company Address Line 1</label>
                      <p>{{viewEndorsement.company.addressOne}}</p>
                    </div>

                    <div class="col-span-6 py-4">
                      <label for="company-address-2" class="block text-sm font-medium text-gray-700">Company Address Line 2</label>
                      <p>{{viewEndorsement.company.addressTwo}}</p>
                    </div>

                    <div class="col-span-6 py-4">
                      <label for="company-address-3" class="block text-sm font-medium text-gray-700">Company Address Line 3</label>
                      <p>{{viewEndorsement.company.addressThree}}</p>
                    </div>

                    <div class="col-span-6 py-4">
                      <label for="company-profile" class="block text-sm font-medium text-gray-700">Company profile</label>
                      <a [href]="photoUrl+viewEndorsement.companyProfileFileName" target="blank" class="hover:text-blue-600">File link</a>
                    </div>

                    <div class="col-span-6 py-4">
                      <label for="acceptance-letter" class="block text-sm font-medium text-gray-700">Acceptance letter</label>
                      <a [href]="photoUrl+viewEndorsement.acceptanceLetterFileName" class="hover:text-blue-600">File link</a>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="bg-gray-50 px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse">
        <button type="button" class="mt-3 w-24 inline-flex justify-center rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-base font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500 sm:mt-0 sm:ml-3 sm:w-auto sm:text-sm" (click)="toClose()">
          Return
        </button>
      </div>
    </div>
  </div>
</div>
