<!-- Technology Program Coordinator -->

<div class="pt-6 sm:px-6 lg:px-8 pb-10">
  <div>
    <h1
      class="inline-block text-3xl font-extrabold text-gray-900 tracking-tight"
    >
      Manage Technology Program Coordinator Account
    </h1>
  </div>
  <p class="mt-1 text-lg text-gray-500">
    This is where you can assign email addresses to access the technology
    program coordinator account.
  </p>
</div>

<div class="py-2 align-middle inline-block min-w-full">
  <div class="flex flex-col">
    <form #f="ngForm" (ngSubmit)="submitTechCoord(f)">
      <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8 sm:px-6 lg:px-8">
        <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
          <div
            class="
              shadow
              overflow-hidden
              border-b border-gray-200
              sm:rounded-lg
            "
          >
            <table class="min-w-full divide-y divide-gray-200">
              <!-- User Assignment -->
              <tbody class="bg-white divide-y divide-gray-200">
                <tr>
                  <td class="px-2 py-4 whitespace-nowrap">
                    <label
                      for="state"
                      class="block text-sm font-medium text-gray-700"
                      >Assign a technology program coordinator</label
                    >
                    <input
                      type="email"
                      name="email"
                      id="state"
                      class="
                        w-3/6
                        mt-1
                        focus:ring-green-500 focus:border-green-500
                        block
                        shadow-sm
                        sm:text-sm
                        border-gray-300
                        rounded-md
                      "
                      placeholder="techcoordinator@ust.edu.ph"
                    />
                  </td>
                  <td
                    class="
                      pt-9
                      px-6
                      py-4
                      whitespace-nowrap
                      text-right text-sm
                      font-medium
                    "
                  >
                    <button
                      class="
                        block
                        h-8
                        px-4
                        text-white
                        transition-colors
                        duration-150
                        bg-green-600
                        rounded-full
                        focus:shadow-outline
                        hover:bg-green-700
                      "
                    >
                      Assign
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </form>
  </div>

  <!-- Table -->
  <div class="pt-12 flex flex-col">
    <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8 sm:px-6 lg:px-8">
      <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
        <div
          class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg"
        >
          <table class="min-w-full divide-y divide-gray-200">
            <thead class="bg-gray-50">
              <tr>
                <th
                  scope="col"
                  class="
                    px-6
                    py-3
                    text-left text-xs
                    font-medium
                    text-gray-500
                    uppercase
                    tracking-wider
                  "
                >
                  Email Address
                </th>
                <th
                  scope="col"
                  class="
                    px-6
                    py-3
                    text-left text-xs
                    font-medium
                    text-gray-500
                    uppercase
                    tracking-wider
                  "
                >
                  Program
                </th>
              </tr>
            </thead>
            <!-- Person 1 -->
            <tbody class="bg-white divide-y divide-gray-200">
              <tr>
                <td class="px-2 py-4 whitespace-nowrap">
                  <div class="flex items-center">
                    <div class="ml-4">
                      <div class="text-sm text-gray-500">
                        coordinator.cics@ust.edu.ph
                      </div>
                    </div>
                  </div>
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                  Information Technology
                </td>
                <td
                  class="
                    px-6
                    py-4
                    whitespace-nowrap
                    text-right text-sm
                    font-medium
                  "
                >
                  <button
                    class="
                      block
                      h-8
                      px-4
                      text-white
                      transition-colors
                      duration-150
                      bg-green-600
                      rounded-full
                      focus:shadow-outline
                      hover:bg-green-700
                    "
                  >
                    Update
                  </button>
                </td>
                <td
                  class="
                    px-6
                    py-4
                    whitespace-nowrap
                    text-right text-sm
                    font-medium
                  "
                >
                  <button
                    class="
                      block
                      h-8
                      px-4
                      text-black
                      transition-colors
                      duration-150
                      bg-gray-200
                      rounded-full
                      focus:shadow-outline
                      hover:bg-gray-300
                    "
                  >
                    Delete
                  </button>
                </td>
              </tr>

              <!-- More people... -->
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <!-- Pagination -->
</div>
