<div class="relative bg-white">
  <div class="max-w-7xl mx-auto px-4 sm:px-6">
    <div
      class="
        flex
        justify-between
        items-center
        py-6
        md:justify-start md:space-x-10
      "
    >
      <div class="flex justify-start lg:w-0 lg:flex-1">
        <a type="button" [routerLink]="['/']">
          <img class="max-h-8 max-w-md sm:h-10" [src]="logo? logoPath:'https://res.cloudinary.com/daljbo1q0/image/upload/v1635686892/logo_xjssa7.png'" alt="logo" />
        </a>
      </div>
      <div class="-mr-2 -my-2 md:hidden">
        <button
          (click)="toOpen()"
          type="button"
          class="
            bg-white
            rounded-md
            p-2
            inline-flex
            items-center
            justify-center
            text-gray-400
            hover:text-gray-500 hover:bg-gray-100
            focus:outline-none focus:ring-2 focus:ring-inset focus:ring-blue-500
          "
          aria-expanded="false"
        >
          <span class="sr-only">Open menu</span>
          <!-- Heroicon name: outline/menu -->
          <svg
            class="h-6 w-6"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            aria-hidden="true"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 6h16M4 12h16M4 18h16"
            />
          </svg>
        </button>
      </div>
      <nav class="md:flex space-x-10 hidden">
          <div class="relative">
            <a type="button" [routerLink]="['/']" class="text-gray-500 group bg-white rounded-md inline-flex items-center text-base font-semibold hover:text-gray-900 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500" aria-expanded="false">
              <span>Home</span>
            </a>
          </div>
          <a *ngIf="!user" [routerLink]="['/endorsementform']" class="text-base font-semibold text-gray-500 hover:text-gray-900 rounded-md focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">
            Apply for Endorsement
          </a>
          <a [routerLink]="['/companydirectory']" class="text-base font-semibold text-gray-500 hover:text-gray-900 rounded-md focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">
            Company Directory
          </a>
          <a [routerLink]="['/faqs']" class="text-base font-semibold text-gray-500 hover:text-gray-900 rounded-md focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">
            FAQs
          </a>
          <a [routerLink]="['/policy']" class="text-base font-semibold text-gray-500 hover:text-gray-900 rounded-md focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">
            Privacy Policy
          </a>
        </nav>
      <div class="hidden md:flex items-center justify-end md:flex-1 lg:w-0">
        <a
          *ngIf="!user"
          [routerLink]="['/login']"
          class="
            ml-8
            whitespace-nowrap
            inline-flex
            items-center
            justify-center
            px-4
            py-1
            border border-transparent
            rounded-md
            shadow-sm
            text-base
            font-semibold
            text-white
            bg-red-600
            hover:bg-red-700
          "
        >
          Login
        </a>

        <!-- <a *ngIf="user" routerLink="admin" class="ml-8 whitespace-nowrap inline-flex items-center justify-center px-4 py-2 border border-transparent rounded-md shadow-sm text-base font-semibold text-red-500 border-red-500 hover:bg-red-500 hover:text-white" >
            Dashboard
          </a> For Admin dashboard-->
        <a
          *ngIf="user"
          (click)="logout()"
          routerLink="login"
          class="
            ml-8
            whitespace-nowrap
            inline-flex
            items-center
            justify-center
            px-4
            py-1
            border border-transparent
            rounded-md
            shadow-sm
            text-base
            font-semibold
            text-white
            bg-red-600
            hover:bg-red-700
          "
        >
          Logout
        </a>
      </div>
    </div>
  </div>
  </div>


  <!--
      Mobile menu, show/hide based on mobile menu state.

      Entering: "duration-200 ease-out"
        From: "opacity-0 scale-95"
        To: "opacity-100 scale-100"
      Leaving: "duration-100 ease-in"
        From: "opacity-100 scale-100"
        To: "opacity-0 scale-95"
    -->
    <div class="absolute top-0 inset-x-0 p-2 transition transform origin-top-right md:hidden z-40" *ngIf="mobileNav">
      <div class="rounded-lg shadow-lg ring-1 ring-black ring-opacity-5 bg-white divide-y-2 divide-gray-50">
        <div class="pt-5 pb-6 px-5">
          <div class="flex items-center justify-between">
            <div>
              <img class="h-8 w-auto"  [src]="logo? logoPath:'https://res.cloudinary.com/daljbo1q0/image/upload/v1635686892/logo_xjssa7.png'" alt="logo">
            </div>
            <div class="-mr-2">
              <button (click)="toClose()" type="button" class="bg-white rounded-md p-2 inline-flex items-center justify-center text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-blue-500">
                <span class="sr-only">Close menu</span>
              <!-- Heroicon name: outline/x -->
              <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                </svg>
              </button>
            </div>
          </div>
          <div class="mt-6">
            <nav class="grid gap-y-8">
              <a [routerLink]="['/']" class="-m-3 p-3 flex items-center rounded-md hover:bg-gray-50">
                <!-- Heroicon name: outline/chart-bar -->
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-red-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6" />
                </svg>
                <span class="ml-3 text-base font-medium text-gray-900">
                  Home
                </span>
              </a>

                <a [routerLink]="['/endorsementform']" class="-m-3 p-3 flex items-center rounded-md hover:bg-gray-50">
                <!-- Heroicon name: outline/cursor-click -->
                <svg class="flex-shrink-0 h-6 w-6 text-red-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 15l-2 5L9 9l11 4-5 2zm0 0l5 5M7.188 2.239l.777 2.897M5.136 7.965l-2.898-.777M13.95 4.05l-2.122 2.122m-5.657 5.656l-2.12 2.122" />
                </svg>
                <span class="ml-3 text-base font-medium text-gray-900">
                  Apply for Endorsement
                </span>
              </a>

                <a [routerLink]="['/companydirectory']" class="-m-3 p-3 flex items-center rounded-md hover:bg-gray-50">
                <!-- Heroicon name: outline/shield-check -->
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-red-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 21V5a2 2 0 00-2-2H7a2 2 0 00-2 2v16m14 0h2m-2 0h-5m-9 0H3m2 0h5M9 7h1m-1 4h1m4-4h1m-1 4h1m-5 10v-5a1 1 0 011-1h2a1 1 0 011 1v5m-4 0h4" />
                </svg>
                <span class="ml-3 text-base font-medium text-gray-900">
                  Company Directory
                </span>
              </a>

                <a [routerLink]="['/faqs']" class="-m-3 p-3 flex items-center rounded-md hover:bg-gray-50">
                <!-- Heroicon name: outline/view-grid -->
                <svg class="flex-shrink-0 h-6 w-6 text-red-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2H6a2 2 0 01-2-2V6zM14 6a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2V6zM4 16a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2H6a2 2 0 01-2-2v-2zM14 16a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2v-2z" />
                </svg>
                <span class="ml-3 text-base font-medium text-gray-900">
                  FAQs
                </span>
              </a>
            </nav>
          </div>
        </div>
        <div class="py-6 px-5 space-y-6">
          <div>
            <a *ngIf="!user" [routerLink]="['/login']"
               class="w-full flex items-center justify-center px-4 py-2 border border-transparent rounded-md shadow-sm text-base font-medium text-white bg-red-600 hover:bg-red-500 bg-opacity-80">
              Log in
            </a>
          </div>
          <div>
            <a *ngIf="user" (click)="logout()"
               class="w-full flex items-center justify-center px-4 py-2 border border-transparent rounded-md shadow-sm text-base font-medium text-white bg-red-600 hover:bg-red-500 bg-opacity-80">
              Log out
            </a>
          </div>
        </div>
      </div>
    </div>


