<div class="pt-6 sm:px-6 lg:px-8 pb-10">
  <div>
    <h1 class="inline-block text-3xl font-extrabold text-gray-900 tracking-tight">Manage Landing Page</h1>
  </div>
  <p class="mt-1 text-lg text-gray-500">This is where the logo and coverphoto can be changed from the landing page.</p>
</div>
<div>
  <div class="p-0.5 sm:px-6">
    <div class="mt-5 md:mt-0">
      <form class="w-5/6">
        <div class="shadow sm:rounded-md sm:overflow-hidden sm:px-4 lg:px-6">
          <div class="px-4 py-5 sm:px-6 lg:px-8">
            <div><label class="block text-sm font-semibold text-gray-700">Logo</label>
              <div class="mt-1 flex flex-col">
                <div class="justify-left">
                  <div class=""><img *ngIf="logoPhoto" src="{{ logoPath }}" alt="..."
                      class="hidden object-contain w-96 h-40 shadow-sm border-2 rounded-md sm:block"></div>
                      <!-- fix ui for logo when deleted -->
                  <div class=""
                    class="hidden object-contain w-96 h-40 shadow-sm border-2 rounded-md sm:block"*ngIf="!logoPhoto">
                      <h1>*Logo Was Deleted*</h1>
                  </div>

                </div>
                <div class="flex flex-row pt-6">
                <label
                  for="file-logo"
                  class="
                    relative
                    cursor-pointer
                    bg-white
                    rounded-md
                    font-medium
                    text-green-600
                    hover:text-green-500
                  "
                >
                  <span
                    class="transparent shadow-sm px-4 py-2 text-base font-medium text-gray-900 border text-center bg-gray-100 hover:bg-gray-200 rounded-md">Edit</span>
                  <input type="file" id="file-logo"
                    name="file-logo"  (change)="updateLogo($event)"
                    class=" sr-only py-2 rounded-md text-sm leading-4 font-medium"
                    accept=".png, .jpg, .jpeg">
                   </label>

                   <button (click)="deleteState('logo')">Delete</button>
                </div>
              </div>
            </div>
            <div class="mt-8"><label class="block text-sm font-semibold text-gray-700">Cover Photo</label>
              <div class="flex flex-col">
                <div class="justify-left">
                  <div class=""><img class="hidden object-cover w-96 h-40 shadow-sm border-2 rounded-md sm:block"
                      *ngIf="landingPagePhoto" src="{{ landingPagePath }}" alt="..."></div>
                        <!-- fix ui for logo when deleted -->
                  <div class=""
                  class="hidden object-contain w-96 h-40 shadow-sm border-2 rounded-md sm:block"*ngIf="!landingPagePhoto">
                    <h1>*Logo Was Deleted*</h1>
                </div>
                </div>
                <div class="flex flex-row mt-6">
                                  <label
                  for="file-cover"
                  class="
                    relative
                    cursor-pointer
                    bg-white
                    rounded-md
                    font-medium
                    text-green-600
                    hover:text-green-500
                  "
                >
                  <span
                    class="transparent shadow-sm px-4 py-2 text-base font-medium text-gray-900 border text-center bg-gray-100 hover:bg-gray-200 rounded-md">Edit</span>
                  <input type="file" id="file-cover"
                    name="file-cover"  (change)="updateLanding($event)"
                    class=" sr-only py-2 rounded-md text-sm leading-4 font-medium focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500"
                    accept=".png, .jpg, .jpeg">
                   </label>
                </div>
              </div>
              <div class="pt-12 -ml-3"><button
                  class="w-full justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-green-600 text-base font-medium text-white hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500 sm:ml-3 sm:w-auto sm:text-sm"
                  type="submit" (click)="uploadImages()">Upload</button></div>

            </div>
            <button (click)="deleteState('cover')">Delete</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
