 <!-- Features -->
 <section class="container items-center max-w-7xl px-8 mx-auto xl:px-5 pt-24 text-gray-600 body-font">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="lg:text-center">
      <p class="mt-2 text-3xl leading-8 font-extrabold tracking-tight text-gray-900 sm:text-4xl">
        What can you do with InternConnect?
      </p>
      <p class="mt-4 max-w-2xl text-xl text-gray-500 lg:mx-auto">
         Here's what you can do as a student taking up the practicum course.
      </p>
    </div>
  </div>
  <div class="container px-5 py-12 mx-auto">
    <div class="flex items-center lg:w-5/6 mx-auto pb-10 mb-10 border-gray-200 sm:flex-row flex-col">
      <div class="sm:w-96 sm:h-96 h-20 w-20 sm:mr-10 inline-flex items-center justify-center rounded-full flex-shrink-0" id="img1">
        <video autoplay loop alt="Searching animation" src ="https://res.cloudinary.com/daljbo1q0/video/upload/v1634974265/Landing/71415-seo-search_fqkk0q.mp4"></video>
       </div>
      <div class="flex-grow sm:text-left text-center mt-6 sm:mt-0 bg-blue-300 bg-opacity-30 shadow-inner drop-shadow-2xl rounded-3xl p-12">
        <h2 class="text-gray-900 text-3xl title-font font-bold mb-2">Search companies</h2>
        <p class="leading-relaxed text-lg">The College has a number of accredited companies that
          you can use as a reference when applying. You can also visit their website by visiting their profile page.</p>
      </div>
    </div>
    <div class="flex items-center lg:w-3/5 mx-auto pb-10 mb-10 border-gray-200 sm:flex-row flex-col">
      <div class="flex-grow sm:text-left text-center mt-6  bg-yellow-500 bg-opacity-20 shadow-inner drop-shadow-2xl rounded-3xl p-12">
        <h2 class="text-gray-900 text-3xl title-font font-bold mb-2">Submit an endorsement request</h2>
        <p class="leading-relaxed text-lg">Once you settle your other requirements for pre-internship,
          you can submit an endorsement request in our Platform.
        </p>
        <p class="leading-relaxed text-lg pt-4">The practicum coordinator will receive this and review your request.</p>
      </div>
      <div class="mb-60 sm:w-32 sm:order-none order-first sm:h-32 h-20 w-20 sm:ml-10 flex-row items-center justify-center rounded-full flex-shrink-0">
        <div class="sm:w-96 sm:h-96 h-20 w-20 sm:mr-10 inline-flex items-center justify-center rounded-full flex-shrink-0">
          <video autoplay loop alt="Scanning animation" src ="https://res.cloudinary.com/daljbo1q0/video/upload/v1634974264/Landing/79084-process_p2vsvd.mp4"></video>
        </div>
      </div>
    </div>
    <div class="flex items-center lg:w-5/6 mx-auto pb-10 mb-10 border-gray-200 sm:flex-row flex-col">
      <div class="sm:w-96 sm:h-96 h-20 w-20 sm:mr-10 inline-flex items-center justify-center rounded-full flex-shrink-0 md:inline-flex">
        <video autoplay loop alt="Floating cellphone animation" src ="https://res.cloudinary.com/daljbo1q0/video/upload/v1634974265/Landing/46762-cellphone-3d_eclgbe.mp4"></video>
      </div>
      <div class="flex-grow sm:text-left text-center mt-6 sm:mt-0 bg-green-300 bg-opacity-20 shadow-inner drop-shadow-2xl rounded-3xl p-12">
        <h2 class="text-gray-900 text-3xl title-font font-bold mb-2">Check your status</h2>
        <p class="leading-relaxed text-lg">After submitting, you can track the progress of the request
          by visiting the status page. You'll also receive e-mail notifications for
          every update on the request.</p>
      </div>
    </div>
  </div>
</section>
